//colors
$black: #000;
$color_pink_swan: #bbb;
$color_mine_shaft: #333;
$white: #fff;
$color_alabaster: #f9fafc;
$color_outer_space_5: rgba(40, 50, 60, 0.05);
$white_50: rgba(255, 255, 255, 0.5);
$seashell: #f1f1f1;
$color_outer_space_30: rgba(40, 50, 60, 0.3);
$color_outer_space_60: rgba(40, 50, 60, 0.6);
$color_outer_space_10: rgba(40, 50, 60, 0.1);
$color_gallery: #ddd;
$color_alto: #dddddd;
$alabaster: #fafafa;
$white_5: rgba(255, 255, 255, 0.05);
$black_5: rgba(0, 0, 0, 0.05);
$color_suva_gray: #888;
$color_silver_chalice: #aaa;
$color_steel_blue: #337ab7;
$color_curious_blue: #149bdf;
$color_lochmara: #0480be;
$color_romance: #fdfdfd;
$color_storm_dust: #666;
$color_celeste: #ccc;

//fonts
$font_0: 'Helvetica Neue';
$font_1: 'Helvetica';
$font_2: 'Arial';
$font_3: 'sans-serif';

//@extend-elements
//original selectors
//#system-theme-settings h1, #system-theme-settings h2, #system-theme-settings h3, #system-theme-settings h4
%tight_headings {
  color: $color_mine_shaft;
  margin: 0;
  padding: 0 0 5px 0;
  line-height: 1em;
  font-weight: bold;
}


%clean_type {
  padding: 20px;
  overflow: hidden;
  background-color: $color_alabaster;
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, $color_outer_space_5 100%);
  position: relative;
  font-weight: normal;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: $white_50 0 0 0 1px inset;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 1px 1px 1px $white;
}


%form_column {
  float: left;
  width: 300px;
  font-size: 13px;
  padding: 8px;
  color: $color_storm_dust;
}

%chained_input {
  float: left;
  width: 300px;
  clear: none;
  padding-right: 20px;
}


#admin-menu {
  z-index: 9999;
  .dropdown {
    z-index: 9999;
    li {
      ul {
        z-index: 9999;
      }
      li.expandable ul {
        margin-top: -29px;
      }
    }
  }
}
.page-admin-structure-block {
  .region-title {
    font-weight: bold;
    border-bottom: solid 1px $black;
  }
  tr.region-populated {
    display: none;
  }
}
.form-item-field-settings-granularity {
  .help-block {
    clear: both;
  }
  .option.checkbox.control-label {
    float: left;
    margin-right: 2em;
  }
}
#system-theme-settings {
  * {box-sizing: border-box;}
  border: 1px solid $color_pink_swan;
  color: $color_mine_shaft;
  padding: 0;
  margin: 2em 0 0;
  background: $white;
  overflow: hidden;
  h1 {
    @extend %tight_headings;
  }
  h2 {
    @extend %tight_headings;
    font-size: 27px;
  }
  h3 {
    @extend %tight_headings;
    font-size: 14px;
  }
  h4 {
    @extend %tight_headings;
  }
  .settings-header {
    @extend %clean_type;
    h2 {
      font-weight: normal;
    }
    h3 {
      font-weight: normal;
    }
    .settings-logo {
      position: absolute;
      top: -30px;
      right: -30px;
      width: 40px;
      margin: 50px;
      border: none;
      outline: none;
      background: none;
      //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 500ms;
      &:hover {
        width: 60px;
      }
      &:focus {
        width: 60px;
      }
    }
  }
  .form-item {
    clear: both;
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .form-item {
      border: none;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      &.form-type-checkbox {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
    }
  }
  #edit-actions {
    padding: 20px;
    margin: 0;
    background-color: $seashell;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: $white_50 0 0 0 1px inset;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  .bootstrap-switch {
    position: absolute;
    left: 200px;
    &.bootstrap-switch-focused {
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: none;
    }
  }
  .bootstrap-switch-handle-off {
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, $color_outer_space_30 100%);
  }
  .bootstrap-switch-handle-on {
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, $color_outer_space_60 100%);
  }
  .bootstrap-switch-label {
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, $color_outer_space_10 100%);
  }
  .slider-track-high {
    background-color: $white;
    border: 1px solid $color_gallery;
  }
  .slider-selection {
    background-image: linear-gradient(to bottom, $color_gallery 0, $color_alto 100%);
  }
  .vertical-tabs {
    margin: 0;
    border-width: 1px 0 1px 0;
    background-color: $alabaster;
    .vertical-tabs-list {
      border: none;
    }
    .vertical-tabs-panes {
      margin: 20px 20px 20px 260px;
      padding: 0;
    }
  }
  .vertical-tab-button {
    a {
      border-top: 1px solid $white_5 !important;
      border-bottom: 1px solid $black_5 !important;
      color: $color_suva_gray;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 10px 10px 20px;
      background: none;
    }
    span {
      color: $color_silver_chalice;
      font-weight: normal;
      opacity: 0.8;
    }
    &.selected {
      a {
        background-color: $color_steel_blue;
        background-image: linear-gradient(to bottom, $color_curious_blue 0, $color_lochmara 100%);
        color: $white;
      }
      span {
        color: $white;
      }
    }
  }
  .vertical-tabs-pane {
    background: $white;
  }
  fieldset {
    margin: 20px 0;
    border: 1px solid $color_gallery;
    padding: 40px 20px 20px;
    legend {
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      .fieldset-legend {
        background: $alabaster;
        border-bottom: 1px solid $color_gallery;
        border-top: 1px solid $color_gallery;
        display: block;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        left: 0;
        right: 0;
        text-indent: 20px;
      }
    }
    fieldset {
      background-color: $color_romance;
      clear: both;
      &.collapsed {
        background-color: $color_romance;
        clear: both;
      }
      fieldset {
        background-color: $white;
        &.collapsed {
          background-color: $white;
        }
        fieldset {
          background-color: $color_romance;
          &.collapsed {
            background-color: $color_romance;
          }
        }
      }
    }
    .fieldset-wrapper {
      padding: 0;
    }
    label {
      width: 200px;
      float: left;
      display: block;
      font-weight: bold;
      font-size: 13px;
    }
  }
  .fieldset-description {
    margin-bottom: 1em;
  }
  .description {
    float: left;
    clear: both;
    width: 180px;
    color: $color_pink_swan;
    font-size: 13px;
    line-height: 1.3em;
    margin: 0;
  }
  .form-type-radios .description {
    position: absolute;
    top: 3em;
  }
  .form-type-checkboxes .description {
    // float: none;
    // width: auto;
    // clear: both;
    // margin: 0;
  }
  .form-text {
    @extend %form_column;
    border: 1px solid $color_gallery;
  }
  .form-select {
    @extend %form_column;
    border: 1px solid $color_gallery;
  }
  .form-textarea-wrapper {
    clear: both;
  }
  .form-radios {
    @extend %form_column;
    padding: 0;
    background: #fff;
    input {
      display: none;
    }
    label.option {
      font-weight: normal;
      border: 1px solid $color_gallery;
      padding: 5px 15px;
      width: 300px;
      margin-top: -1px;
      line-height: 24px;
      &:before {
        content: '';
        display: inline-block;
        width: 25px;
        font-size: 18px;
        line-height: 1em;
        color: $color_curious_blue;
        font-weight: normal;
      }
    }
    input:checked ~ label.option {
      font-weight: normal;
      font-style: italic;
      &:before {
        content: '✓';
      }
    }
  }
  .farbtastic {
    z-index: 10;
  }
  .color-form {
    max-width: 740px;
    .form-item-scheme {
      height: 3.2em;
    }
    h2 {
      visibility: hidden;
    }
    #preview {
      visibility: hidden;
    }
  }
  .form-item {
    padding-left: 0;
  }
  #palette {
    margin-top: 2em;
    .form-item {
      height: 2.8em;
      padding: 5px 0;
      width: auto;
    }
    .item-selected {
      background: none;
      input {
        //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: $color_lochmara 0 0 3px;
      }
    }
    .lock {
      left: -18px;
      top: -2em;
    }
  }
  .font-preview {
    font-size: 30px;
    padding: 10px 0;
    border-top: 2px solid $color_celeste;
    p {
      margin: 10px 0;
    }
    .font-test {
      font-size: 16px;
    }
    .font-test-accents {
      font-size: 16px;
    }
    .font-test-small {
      font-size: 13px;
    }
  }
  #edit-font-choose {
    .form-item {
      @extend %chained_input;
      width: 50%;
      height: 60px;
      &.form-type-select {}
      .form-text,
      label {
        width: 100%;
      }
    }
  }
  .slider.slider-horizontal {
    width: 300px;
    margin-top: 2.5em;
  }
  .form-item-layout-max-width .slider.slider-horizontal {
    // width: 500px;
  }
  .form-item[class$="invoke"] .form-text {
    max-width: none;
  }
  .fonts-previews p {
    margin: 0 0 20px 0;
  }
}
#system-theme-settings>div>h2 {
  @extend %clean_type;
  font-size: 18px;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: start;
  text-decoration: none;
  //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  //Instead of the line below you could use @includeword-break($value)
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
  &.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  &.top {
    margin-top: -3px;
    padding: 5px 0;
    .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: $black;
    }
  }
  &.right {
    margin-left: 3px;
    padding: 0 5px;
    .tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: $black;
    }
  }
  &.bottom {
    margin-top: 3px;
    padding: 5px 0;
    .tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: $black;
    }
  }
  &.left {
    margin-left: -3px;
    padding: 0 5px;
    .tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: $black;
    }
  }
  &.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: $black;
  }
  &.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: $black;
  }
  &.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $black;
  }
  &.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: $black;
  }
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $white;
  text-align: center;
  background-color: $black;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
body.admin-menu {
  margin-top: 28px !important;
  .navbar-fixed-top {
    top: 30px;
  }
}