<link href="../../css/elements/cta.css" rel="stylesheet" type="text/css">

<h3 class="stpe-cta__heading">Glazed Theme</h3>
<div class="stpe-cta stpe-cta--large row">
  <div class="col-md-9 stpe-cta__text az-editable">
    <p class="lead">You feel there should be no barrier between your creativity and your website. Direct communication. Glazed is built to work this way: Frictionless expression.</p>
  </div>
  <div class="col-md-3 stpe-cta__button">
    <a class="btn btn-lg stpe-borderbutton glazed-util-border-primary glazed-util-color-primary glazed-util-hover-border-primary glazed-util-hover-color-white glazed-util-hover-background-primary az-editable" href="sooperthemes.com/pricing">Discover Glazed</a>
  </div>
</div>