@charset "UTF-8";

@import "compass/css3";

//
// Contact shortcode styling
//

.html ul.stbe-contact {
  margin: 0;
  padding: 0;
  .stbe-contact__item {
    padding: 0;
    list-style: none;
    list-style-type: none;
    font-size: 1.4em;
    line-height: 1.7em;
  }
}