@charset "UTF-8";

@import "compass/css3";


// Call to Action Element

.stpe-cta--wide {
  text-align: center;
  .stpe-cta__heading {
    display: inline-block;
  }
  .btn {
    margin-left: 2em;
    margin-top: -0.4em;
  }
}

.stpe-cta__heading {
  margin-bottom: 0.15em;
}
.stpe-cta--large {
  @media screen and (min-width: 768px) {
    display: table;
    .stpe-cta__text,
    .stpe-cta__button {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
  .stpe-cta__text .lead {
    font-size: 24px;
  }
}