@charset "UTF-8";

@import "compass/css3";

//
// Drop Shadows
//

.stpe-dropshadow {
  position:relative;
  margin-bottom:20px;
  z-index:5;
  display:inline-block;
  max-width:100%;
  padding-left:0!important;
  padding-right:0!important;
  img {
    display:block;
    margin:0;
  }
  * {
    position:relative;
    z-index:6;
  }
  &:before,
  &:after {
    content:"";
    position:absolute;
    z-index:0;
  }
}

.stpe-dropshadow--raised {
  @include box-shadow(0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
}

.stpe-dropshadow--glow {
  @include box-shadow(rgba(black, 0.4) 0 0 5px, rgba(black, 0.2) 0 0 3px 1px inset);
}


.stpe-dropshadow--lifted {
  -moz-border-radius:4px;
     border-radius:4px;
}

.stpe-dropshadow--lifted:before,
.stpe-dropshadow--lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  @include box-shadow(0 15px 7px rgba(0, 0, 0, 0.8));
  @include rotate(-3deg);
}

.stpe-dropshadow--lifted:after {
  right:10px;
  left:auto;
  @include rotate(3deg);
}

.stpe-dropshadow--perspective:before {
  left:80px;
  bottom:3px;
  width:50%;
  height:35%;
  max-width:50px;
  max-height:40px;
  @include box-shadow(-80px 0 8px rgba(0, 0, 0, 0.4));
  @include skew(50deg, 0deg);
  @include transform-origin(0, 107%);
  -webkit-transform-origin:0 100%;
     -moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
     -o-transform-origin:0 100%;
      transform-origin:0 100%;
}

.stpe-dropshadow--perspective:after {
  display:none;
}

.stpe-dropshadow--curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  @include box-shadow(0 0 10px rgba(0,0,0,1));
  @include border-radius(10px , 100px);
}

.stpe-dropshadow--curved-vt2:before {
  right:0;
}

.stpe-dropshadow--curved-hz1:before {
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  @include border-radius(100px , 10px);
}

.stpe-dropshadow--curved-hz2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  @include border-radius(100px , 10px);
}