@charset "UTF-8";

@import "compass/css3";

.stpe-iconwell {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0;
  .stpe-iconwell__icon {
    position: absolute;
    font-size: 200px;
    bottom: 0;
    right: 0;
    display: block;
    width: auto;
    height: auto;
    margin-right: -15%;
    margin-bottom: -15%;
    line-height: 1em;
    &:before {
      display: block;
      z-index: -1;
    }
  }
  .stpe-iconwell__title,
  .stpe-iconwell__content {
    position: relative;
    z-index: 0;
  }
  .stpe-iconwell__content {
    font-size: 18px;
    ul,ol {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style-position: inside;
      }
    }
  }
}