@charset "UTF-8";

@import "compass/css3";

.stpe-pricingtable {
	margin: 0 0 20px 0;
	.stpe-pricingtable__panel {
		overflow: hidden;
		margin: 0;
		background-color: #fff;
		box-shadow: none;
		border-radius: 0;
		border: 1px solid #ededed;
	}
	.stpe-pricingtable__panel-heading {
		padding: 15px 15px;
		border-radius: 0;
		// border-bottom: 1px solid #ededed;
		text-align: center;
		.stpe-pricingtable__panel-title {
			margin: 0;
		}
	}
	.stpe-pricingtable__panel-body {
		padding: 15px;
		background-color: #f8f8f8;
		text-align: center;
		.stpe-pricingtable__price {
			position: relative;
			.stpe-pricingtable__currency {
				position: relative;
				&.pos-right {
					top: 0;
					margin-left: -12px;
					font-size: 32px;
					&.price-without-decimal {
						margin-left: 0;
					}
				}
			}
			.stpe-pricingtable__integer {
				display: inline;
				font-weight: bold;
				// color: $primary;
				line-height: normal;
			}
			.stpe-pricingtable__decimal {
				position: relative;
				top: -30px;
				font-weight: bold;
				// color: $primary;
			}
			.stpe-pricingtable__period {
				display:block;
				font-style: italic;
				color: #888888;
			}
		}
	}
	.list-group {
		margin: 0;
		padding: 0;
	}
	.list-group-item {
		display: block;
		position: relative;
		padding: 15px;
		background: none;
		border-radius: 0;
		// border-top: 1px solid #ededed;
		border: none;
		text-align: center;
		// &:last-child {
		// 	border-bottom: 1px solid #ededed;
		// }
	}
	.stpe-pricingtable__panel-footer {
		padding: 15px;
		background-color: #f8f8f8;
		border-radius: 0;
		border-color: 1px solid #ededed;
		text-align: center;
	}
}
.stpe-pricingtable--full {
	.stpe-pricingtable__panel-wrapper {
		padding: 0;
	}
	.stpe-pricingtable__panel-container {
		padding: 9px;
		background-color: #f8f8f8;
	}
	.stpe-pricingtable__panel-wrapper:last-child .stpe-pricingtable__panel {
		border-right: 1px solid #ededed;
	}
	.stpe-pricingtable__panel-body {
		.stpe-pricingtable__price {
			.stpe-pricingtable__currency {
				top: -20px;
				font-size: 21px;
			}
			.stpe-pricingtable__integer {
				font-size: 55px;
			}
			.stpe-pricingtable__decimal {
				top: -20px;
				font-size: 17px;
			}
			.stpe-pricingtable__period {
				font-size: 13px;
			}
		}
	}
}
.stpe-pricingtable--boxed {
	.stpe-pricingtable__panel-wrapper {
		margin-bottom: 10px;
		padding: 0;
	}
	.stpe-pricingtable__panel-container {
		padding: 9px;
		background-color: #f8f8f8;
	}
	.stpe-pricingtable__panel-heading {
		// background-color: $primary;
		border-radius: 0;
		// border-bottom: 1px solid #ededed;
		text-align: center;
		.stpe-pricingtable__panel-title {
			margin: 0;
		}
	}

	.stpe-pricingtable__panel-body {
		.stpe-pricingtable__price {
			.stpe-pricingtable__currency {
				top: -30px;
				font-size: 28px;
			}
			.stpe-pricingtable__integer {
				font-size: 75px;
			}
			.stpe-pricingtable__decimal {
				font-size: 23px;
			}
			.stpe-pricingtable__period {
				// font-size: 20px;
			}
		}
	}
}

@media (min-width: 768px) {
	.stpe-pricingtable {
		.stpe-pricingtable__stpe-pricingtable__panel-wrapper--standout {
			.stpe-pricingtable__panel-container {
				z-index: 1000;
			}
			.stpe-pricingtable__panel-heading,
			.stpe-pricingtable__panel-footer {
				padding: 20px;
			}
		}
	}
	.stpe-pricingtable--full {
		padding: 0 9px;
		background-color: #f8f8f8;
		.stpe-pricingtable__panel-container {
			padding: 9px 0;
		}
		.stpe-pricingtable__panel-wrapper:last-child .stpe-pricingtable__panel {
			border-right: 1px solid #ededed;
		}
		.stpe-pricingtable__panel {
			border-right: none;
		}
		.stpe-pricingtable__stpe-pricingtable__panel-wrapper--standout {
			.stpe-pricingtable__panel-container {
				position: relative;
				-moz-box-sizing: 	content-box;
				box-sizing: 		content-box;
				margin: -10px -9px;
				padding: 9px;
				@include box-shadow( 0 0 6px 6px rgba( 0, 0, 0, 0.08 ) );
				background-color: #f8f8f8;
			}
			.stpe-pricingtable__panel {
				border-right: 1px solid #ededed;
			}
			.stpe-pricingtable__panel-heading {
				.stpe-pricingtable__panel-title {
					// color: $primary;
				}
			}
		}
	}
	.stpe-pricingtable--boxed {
		margin: 0 -15px;
		margin-bottom: 20px;
		.stpe-pricingtable__panel-wrapper {
			margin: 0;
			padding: 0 12px;
		}
		.stpe-pricingtable__stpe-pricingtable__panel-wrapper--standout {
			.stpe-pricingtable__panel-container {
				margin: -10px;
				@include box-shadow( 0 0 15px 5px rgba( 0, 0, 0, 0.16 ) );
			}
		}
	}
}
