@charset "UTF-8";

@import "compass/css3";

.stpe-quoteslider {
  padding: 0 10px 30px;
  margin-top: 30px;
  .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 50px;
    width: 60px;
    &.left {
      left: -12px;
    }
    &.right {
      right: -12px !important;
    }
  }
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px;
    li {
      background: #c0c0c0;
    }
    .active {
      background: #333333;
    }
  }
}
@media(min-width: 768px) {
  .stpe-quoteslider {
    margin-bottom: 0;
    padding: 0 40px 30px;
  }
}
@media(max-width: 768px) {
  .stpe-quoteslider .carousel-indicators {
    bottom: -20px !important;
    li {
      display: inline-block;
      margin: 0 5px;
      width: 15px;
      height: 15px;
      &.active {
        margin: 0 5px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
.item blockquote {
  border-left: none;
  margin: 0;
  img {
    margin-bottom: 10px;
  }
  p:before {
    content: "\f10d";
    font-family: Fontawesome;
    float: left;
    margin-right: 10px;
  }
}