@charset "UTF-8";

@import "compass/css3";

.stpe-teambox {
  img {
    width: 100%;
    padding:0;
    margin:0;
  }
  .stpe-teambox__member-info {
    padding:15px 0 10px 0;
    .stpe-teambox__member-name,
    .stpe-teambox__member-role {
      margin-top: 0;
      margin-bottom: 4px;
    }
    .stpe-teambox__social-links {
      li {
        padding:0 0 0.2em 0!important;
        a {
          margin:0 0.8em 0 0;
          padding:0!important;
        }
      }
    }
  }
  &.stpe-teambox--split {
    .stpe-teambox__member-name-role {
      width:50%;
      float:left;
    }
    .stpe-teambox__member-social {
      width:50%;
      float:right;
      text-align:right;
    }
    .stpe-teambox__social-links {
      float:right;
      li {
        float:right;
        a {
          margin:0 0 0 0.8em;
        }
      }
    }
  }
  &.stpe-teambox--stacked {
    .stpe-teambox__member-social {
      padding-bottom:1em;
    }
  }
}
