<link href="../../css/elements/dropshadow.css" rel="stylesheet" type="text/css">

<div class="stpe-dropshadow stpe-dropshadow--curved-hz1 stpe-dropshadow--curved"><img alt="" src="http://i.imgur.com/jmPC7Xe.jpg"></div>