.block:first-child h2.block-title {
    margin-top: 10px;
}
.region-sidebar-second .block:first-child h2.block-title, .region-sidebar-first .block:first-child h2.block-title {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 10px;
}
.container {
    width: 100%;
    max-width: 1170px;
}
.container .container {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .row {
    overflow: hidden;
}
}.column {
    margin-bottom: 30px;
}
.dropdown-menu {
    min-width: 160px;
}
.dropdown-menu li {
    float: left;
    min-width: 160px;
    display: block;
}
.btn {
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.12);
    border-left: 3px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.btn-sm {
    border-bottom-width: 4px;
}
.btn-default {
    background: #fcfcfc;
}
.btn-primary {
    background: #1488cb;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #06537e;
    border-bottom-color: rgba(0, 0, 0, 0.6);
}
.block .nav>li>a .glyphicon {
    margin-left: -13px;
    display: inline-block;
    font-size: 12px;
    padding-right: 4px;
}
.well, .jumbotron {
    background-color: #eeeeee;
    color: #444444;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.well a, .jumbotron a {
    color: #444444;
}
.well h1, .well h2, .well h3, .well h4, .well h5, .well h6, .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    color: #444444;
}
.well p, .jumbotron p {
    font-size: 14px;
}
.well .nav>li>a .glyphicon, .jumbotron .nav>li>a .glyphicon {
    color: #06537e;
}
.well .nav>li>a:hover, .well .nav>li>a:focus, .well .nav>li>a.active, .jumbotron .nav>li>a:hover, .jumbotron .nav>li>a:focus, .jumbotron .nav>li>a.active {
    color: #f1f1f1;
    background: #1488cb;
}
.well .nav>li>a:hover .glyphicon, .well .nav>li>a:focus .glyphicon, .well .nav>li>a.active .glyphicon, .jumbotron .nav>li>a:hover .glyphicon, .jumbotron .nav>li>a:focus .glyphicon, .jumbotron .nav>li>a.active .glyphicon {
    color: #f1f1f1;
}
blockquote {
    border-color: #f1f1f1;
}
.content .panel {
    line-height: 2em;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0;
    color: #f1f1f1;
    padding: 30px;
    border: none;
}
.content .panel h1, .content .panel h2, .content .panel h3, .content .panel h4, .content .panel h5, .content .panel h6 {
    color: #f1f1f1;
}
.content .panel-group .panel {
    background: transparent;
    padding: 0;
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.content .panel-group .panel .panel-heading {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.content .panel-group .panel .panel-heading .panel-title:before {
    content: '+';
    display: inline;
    padding-right: 1em;
}
.content .panel-group .panel .panel-body {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.content .panel-group .panel h1, .content .panel-group .panel h2, .content .panel-group .panel h3, .content .panel-group .panel h4, .content .panel-group .panel h5, .content .panel-group .panel h6 {
    color: #555555;
}
.img-circle, .img-rounded, .img-thumbnail {
    border: 3px solid #ededed;
}
.center-block {
    float: none !important;
}
.modal-backdrop {
    z-index: -1 !important;
    width: 1px !important;
    height: 1px !important;
}
.modal .modal-dialog {
    margin-top: 80px;
    color: #555555;
}
.modal .modal-dialog h1, .modal .modal-dialog h2, .modal .modal-dialog h3, .modal .modal-dialog h4, .modal .modal-dialog h5, .modal .modal-dialog h6 {
    color: #555555;
}
.modal .modal-dialog ul {
    padding-left: 10px;
}
.modal:before {
    content: ' ';
    z-index: 1610;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.5;
}
.html .main-container .nav-tabs {
    border-bottom: 1px solid #ededed;
}
.html .main-container .nav-tabs>li>a {
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px 15px;
    background-color: transparent;
}
.html .main-container .nav-tabs>li>a:hover {
    color: #ededed;
}
.html .main-container .nav-tabs>li.active>a, .html .main-container .nav-tabs>li.active>a:hover, .html .main-container .nav-tabs>li.active>a:focus {
    color: #1488cb;
    background-color: transparent;
    border: 1px solid #ededed;
    border-bottom-color: #ffffff;
    cursor: default;
    outline: none;
}
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
.progress {
    border-radius: 0;
    height: 3px;
    margin-top: 2px;
    overflow: visible;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    background-color: #1488cb;
    line-height: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.region-footer .block-menu .menu {
    margin: 0;
    padding: 0;
}
.region-footer .block-menu .menu li {
    display: inline-block;
}
.region-footer .block-menu .menu li a {
    background: transparent;
    padding: 0 0 0 10px;
    line-height: 1.1em;
    text-decoration: none;
}
.region-footer .block-menu .menu li a:hover, .region-footer .block-menu .menu li a:focus {
    background: transparent;
}
.region-footer .block-menu .menu li span {
    font-size: 9px;
    position: relative;
    top: 0px;
}
.nav>li>a.active {
    background: transparent;
}
.form-text, .form-file, .form-textarea, input[type=text], input[type=file], input[type=text], textarea {
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0;
    background: #ededed;
    padding: 12px;
    height: auto;
}
.cke_editable_themed {
    padding: 5px;
}
body {
    background: #fefffe;
}
.block {
    margin-bottom: 30px;
}
.navbar {
    margin-bottom: 0;
}
img {
    max-width: 100%}
html.js .kenburnimg img {
    max-width: none;
}
.node {
    margin-bottom: 30px;
}
.node .submitted {
    margin-bottom: 30px;
    display: block;
    padding: 15px 0;
}
.node.node-blog-node-teaser .links {
    margin-top: -15px;
}
body.full-width-content .main-container>.row, body.full-width-content .main-container>.row>section, body.full-width-content .main-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
body.full-width-content .main-container>.row>aside {
    display: none;
}
.region-slider .block {
    margin-bottom: 0;
}
.footer {
    background-color: #40444a;
    color: #73767c;
}
.footer .footer-container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #73767c;
}
.footer a {
    color: #73767c;
    text-decoration: underline;
}
.footer a:hover, .footer a:focus {
    color: #73767c;
}
.footer ul.contact-info {
    padding: 1em 0;
}
.footer ul.contact-info li {
    background: none;
    padding: 0;
    font-size: 1.6em;
    line-height: 1.7em;
}
.footer .block {
    margin-bottom: 0;
    padding-bottom: 0;
}
.html--glazed-sticky-footer {
    height: 100%}
.html--glazed-sticky-footer body {
    height: 100%;
    display: table;
    table-layout: fixed;
    width: 100%}
.html--glazed-sticky-footer #navbar, .html--glazed-sticky-footer .wrap-containers, .html--glazed-sticky-footer footer.footer {
    display: table-row;
    min-height: 1px;
}
.html--glazed-sticky-footer .wrap-containers {
    height: 100%}
.page-title-full-width-container {
    background: #e5e6e6;
    margin-bottom: 30px;
    position: relative;
}
.page-title-full-width-container#page-title-full-width-container {
    color: #999999;
}
.page-title-full-width-container#page-title-full-width-container li, .page-title-full-width-container#page-title-full-width-container a, .page-title-full-width-container#page-title-full-width-container h1, .page-title-full-width-container#page-title-full-width-container h2, .page-title-full-width-container#page-title-full-width-container h3, .page-title-full-width-container#page-title-full-width-container h4, .page-title-full-width-container#page-title-full-width-container h5, .page-title-full-width-container#page-title-full-width-container h6 {
    color: #999999;
}
.page-title-full-width-container:after {
    content: ' ';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.page-title-full-width-container .container {
    position: relative;
    z-index: 1;
}
#page-title {
    display: table;
}
#page-title .page-title {
    border: none;
    display: table-cell;
    height: 120px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
@media screen and (min-width: 1200px) {
    .body--glazed-header-overlay .page-title-full-width-container {
    padding-top: 130px;
}
}body, html {
    color: #555555;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
}
.block-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
}
.nav-tabs>li>a {
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3.field-label {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
a {
    color: #1488cb;
}
a {
    -webkit-transition-property: color, background-color, border-color, opacity;
    transition-property: color, background-color, border-color, opacity;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
a:hover, a:focus {
    text-decoration: underline;
    color: #06537e;
}
h1, h2, h3, h4, h5, h6, .navbar-brand, th, .nav-tabs>li>a {
    color: #333333;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .navbar-brand a, th a, .nav-tabs>li>a a {
    color: #333333;
}
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus, .navbar-brand a:hover, .navbar-brand a:focus, th a:hover, th a:focus, .nav-tabs>li>a a:hover, .nav-tabs>li>a a:focus {
    text-decoration: none;
    color: #1488cb;
}
.block-revslider img {
    max-width: 100%}
hr {
    height: 3px;
    background: #eeeeee;
    margin-bottom: 50px;
    margin-top: 50px;
}
span.field-label, div.field-label {
    font-weight: bold;
}
.submitted {
    color: #777777;
}
.submitted a {
    color: #777777;
    text-decoration: underline;
}
.submitted a:hover, .submitted a:focus {
    text-decoration: none;
}
.main-container .block-menu-block .nav {
    padding: 0;
    margin: 0;
}
.main-container .block-menu-block .nav>li {
    padding: 0;
    margin: 0;
}
.main-container .block-menu-block .nav>li>a {
    padding: 0;
    margin: 10px 0 10px 0;
    background: transparent;
    color: #777777;
    font-size: 18px;
}
.main-container .block-menu-block .nav>li>a:hover, .main-container .block-menu-block .nav>li>a:focus, .main-container .block-menu-block .nav>li>a.active {
    background: transparent;
    color: #1488cb;
}
.region-sidebar-first, .region-sidebar-second {
    color: #777777;
}
.region-sidebar-first a, .region-sidebar-second a {
    color: #555555;
}
body .stpe-outlinebutton {
    display: inline-block;
    background: transparent;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}
body .stpe-outlinebutton:hover, body .stpe-outlinebutton:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    background: #333;
    border: 1px solid #333;
    color: #fff;
}
body .stpe-borderbutton {
    display: inline-block;
    background: transparent;
    border: 3px solid #333;
    color: #333;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}
body .stpe-borderbutton:hover, body .stpe-borderbutton:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    background: #333;
    border: 3px solid #333;
    color: #fff;
}
.glazed-header {
    z-index: 1000;
    border: none;
    border-radius: 0;
    min-height: 0;
    -webkit-transition-property: opacity, background-color;
    -moz-transition-property: opacity, background-color;
    -o-transition-property: opacity, background-color;
    transition-property: opacity, background-color;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
}
.glazed-header .caret {
    display: none;
}
@media screen and (max-width: 1200px) {
    .glazed-header {
    position: static;
}
.glazed-header li {
    clear: both;
}
}.glazed-header .navbar-container {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
}
.glazed-header .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.glazed-header .navbar-nav {
    margin-left: 0;
    margin-right: 0;
}
.glazed-header#navbar {
    background: #ffffff;
    color: #696969;
}
.glazed-header#navbar a {
    color: #696969;
    background: transparent;
    text-decoration: none;
}
.glazed-header#navbar a:hover, .glazed-header#navbar a:focus {
    color: #696969;
    background-color: transparent;
    text-decoration: none;
}
.glazed-header .navbar-header .navbar-brand {
    font-size: 24px;
    height: auto;
    letter-spacing: 1px;
    padding: 0;
    float: none;
}
.glazed-header .menu h1, .glazed-header .menu h2, .glazed-header .menu h3, .glazed-header .menu h4, .glazed-header .menu h5 h6 {
    opacity: 0.75;
}
.glazed-header .active>a {
    color: #1488cb;
}
.glazed-header .dropdown-menu {
    background: #ffffff;
}
@media screen and (max-width: 1200px) {
    .glazed-header .dropdown-menu {
    position: static;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
}.glazed-header .dropdown-menu ul {
    padding-left: 0;
}
.glazed-header .dropdown-menu li {
    list-style: none;
    list-style-type: none;
}
.glazed-header .dropdown-menu li a {
    font-size: 12px;
    display: block;
    background: transparent;
}
.glazed-header .row, .glazed-header .block {
    margin-bottom: 0;
}
.glazed-header .mega-dropdown-menu {
    padding-top: 15px;
}
.glazed-header .mega-dropdown-menu .block {
    padding-left: 20px;
    padding-right: 0;
}
.glazed-header .mega-dropdown-menu .row {
    margin-left: 0;
    margin-right: 0;
}
@media screen and (min-width: 1200px) {
    .glazed-header .tb-megamenu-column {
    padding-left: 0;
    padding-right: 0;
}
.glazed-header .tb-megamenu-column:first-child {
    border-left: none;
}
}.glazed-header .nav-child-fixed-width {
    width: 100% !important;
}
.glazed-header.affix .nav-child-fixed-width {
    top: 60px;
}
body.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 100px;
}
@media screen and (min-width: 1200px) {
    html.js body.admin-menu {
    margin-top: 0 !important;
    padding-top: 20px !important;
}
html.js body.admin-menu-toolbar {
    margin-top: 0 !important;
    padding-top: 28px !important;
}
html.js body.admin-menu .glazed-header--top.glazed-header--overlay {
    top: 50px !important;
}
html.js body.admin-menu-toolbar .glazed-header--top.glazed-header--overlay {
    top: 58px !important;
}
html.js body.toolbar .glazed-header--top.glazed-header--overlay {
    top: 60px !important;
}
html.js body.toolbar-drawer .glazed-header--top.glazed-header--overlay {
    top: 94px !important;
}
html.js body.admin-menu .glazed-header--top.glazed-header--fixed, html.js body.admin-menu .glazed-header--top.affix {
    top: 20px !important;
}
html.js body.admin-menu-toolbar .glazed-header--top.glazed-header--fixed, html.js body.admin-menu-toolbar .glazed-header--top.affix {
    top: 28px !important;
}
html.js body.toolbar .glazed-header--top.glazed-header--fixed, html.js body.toolbar .glazed-header--top.affix {
    top: 30px !important;
}
html.js body.toolbar-drawer .glazed-header--top.glazed-header--fixed, html.js body.toolbar-drawer .glazed-header--top.affix {
    top: 64px !important;
}
html.js body.admin-menu.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 120px !important;
}
html.js body.admin-menu-toolbar.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 128px !important;
}
html.js body.toolbar.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 130px !important;
}
html.js body.toolbar-drawer.body--lazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 164px !important;
}
}@media screen and (min-width: 1200px) {
    .glazed-header--top {
    width: 100%}
.glazed-header--top.glazed-header--fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.glazed-header--top.affix {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.glazed-header--top.glazed-header--overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
}
.glazed-header--top.glazed-header--overlay.glazed-header--fixed {
    position: fixed;
}
.glazed-header--top.glazed-header--overlay.affix {
    top: 0;
}
.glazed-header--top.affix {
    opacity: 1;
    position: fixed;
}
.glazed-header--top.affix#navbar {
    background-color: #ffffff;
    color: #696969;
}
.glazed-header--top.affix#navbar a {
    color: #696969;
}
.glazed-header--top.affix#navbar a:hover, .glazed-header--top.affix#navbar a:focus {
    color: #696969;
}
.glazed-header--top.affix .menu li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.glazed-header--top.affix .navbar-header {
    padding-top: 0;
    padding-bottom: 0;
}
.glazed-header--top.affix .navbar-brand {
    font-size: 18px;
}
.glazed-header--top .navbar-header {
    float: left;
    display: table;
    position: relative;
    z-index: 5;
}
.glazed-header--top .wrap-branding {
    display: table;
    height: 100px;
}
.glazed-header--top .wrap-branding .logo, .glazed-header--top .wrap-branding .navbar-brand {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}
.glazed-header--top .wrap-branding .logo img, .glazed-header--top .wrap-branding .navbar-brand img {
    display: inline;
}
.glazed-header--top .navbar-collapse {
    display: inline-block;
}
.glazed-header--top.glazed-header--logo-center-menu-left .navbar-header, .glazed-header--top.glazed-header--logo-center-menu-right .navbar-header {
    position: absolute;
    left: 50%}
.glazed-header--top.glazed-header--logo-center-menu-left .wrap-branding, .glazed-header--top.glazed-header--logo-center-menu-right .wrap-branding {
    margin-left: -50%}
.glazed-header--top.glazed-header--logo-center-menu-left .wrap-branding .logo, .glazed-header--top.glazed-header--logo-center-menu-right .wrap-branding .logo {
    padding-right: 0;
}
.glazed-header--top.glazed-header--logo-left-menu-left .menu, .glazed-header--top.glazed-header--logo-center-menu-left .menu {
    float: left;
}
.glazed-header--top.glazed-header--logo-right-menu-left .menu {
    float: left;
}
.glazed-header--top.glazed-header--logo-right-menu-left .navbar-header, .glazed-header--top.glazed-header--logo-right-menu-left .wrap-branding {
    float: right;
}
.glazed-header--top.glazed-header--centered {
    text-align: center;
}
.glazed-header--top.glazed-header--centered .navbar-brand {
    margin: 0 auto;
    text-align: center;
    clear: both;
}
.glazed-header--top.glazed-header--centered .navbar-header, .glazed-header--top.glazed-header--centered .block {
    margin: 0 auto;
    text-align: center;
    float: none;
    clear: both;
    display: inline-block;
}
.glazed-header--top .menu {
    float: right;
}
.glazed-header--top .menu .navbar-nav>li>a {
    font-size: 18px;
}
.glazed-header--top .menu>li {
    display: table;
    height: 100%}
.glazed-header--top .menu>li>a {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    padding-top: 0;
    padding-bottom: 0;
}
.glazed-header--top .menu .dropdown-menu li>a {
    padding: 10px 20px;
}
.glazed-header--top .nav-child-fixed-width {
    left: 0;
    right: 0;
    position: absolute;
    top: 100px;
}
}@media screen and (min-width: 1200px) {
    .body--glazed-header-side {
    padding-left: 200px;
    text-align: left;
}
.body--glazed-header-side.body--glazed-header-side-overlay {
    padding-left: 0;
}
.body--glazed-header-side .glazed-header--side {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    padding: 70px 30px 30px 30px;
}
.body--glazed-header-side .glazed-header--side#navbar {
    background-color: #fafafa;
    color: #323232;
}
.body--glazed-header-side .glazed-header--side#navbar a {
    color: #323232;
}
.body--glazed-header-side .glazed-header--side#navbar a:hover, .body--glazed-header-side .glazed-header--side#navbar a:focus {
    color: #323232;
}
.body--glazed-header-side .glazed-header--side.glazed-header--overlay {
    opacity: 0.9;
}
.body--glazed-header-side .glazed-header--side .navbar-container {
    padding: 0;
}
.body--glazed-header-side .glazed-header--side .navbar-header {
    float: none;
}
.body--glazed-header-side .glazed-header--side .navbar-header .logo, .body--glazed-header-side .glazed-header--side .navbar-header .navbar-brand {
    display: block;
    padding: 0 0 30px 0;
    margin: 0;
}
.body--glazed-header-side .glazed-header--side .navbar-nav {
    float: none;
}
.body--glazed-header-side .glazed-header--side .navbar-collapse {
    padding: 70px 0 0 0;
}
.body--glazed-header-side .glazed-header--side .menu li {
    display: block;
    float: none;
}
.body--glazed-header-side .glazed-header--side .menu li a {
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    background: transparent;
}
.body--glazed-header-side .glazed-header--side .menu li a .caret {
    float: right;
    border: none;
}
.body--glazed-header-side .glazed-header--side .menu li a .caret:after {
    content: ' +'}
.body--glazed-header-side .glazed-header--side .menu li a:hover, .body--glazed-header-side .glazed-header--side .menu li a:focus {
    background: transparent;
}
.body--glazed-header-side .glazed-header--side .menu li a:hover .caret:after, .body--glazed-header-side .glazed-header--side .menu li a:focus .caret:after {
    content: '-'}
.body--glazed-header-side .glazed-header--side .menu .dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: static;
    float: none;
    min-width: 0;
    width: auto;
    border: none;
    max-height: 0;
    overflow: hidden;
    text-align: inherit;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    background: transparent;
    height: auto;
    display: block;
}
.body--glazed-header-side .glazed-header--side .menu .dropdown-menu a {
    font-weight: normal;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.body--glazed-header-side .glazed-header--side .menu .open>.dropdown-menu {
    max-height: 2096px;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
}
.body--glazed-header-side .glazed-header--side .tb-megamenu-column {
    width: 100% !important;
}
.body--glazed-header-side .glazed-header--side .mega-dropdown-menu {
    padding: 0;
}
}@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .body--glazed-header-side .container {
    max-width: 1570px;
}
}@media screen and (min-width: 1200px) and (max-width: 1460px) {
    .body--glazed-header-side .container {
    max-width: 1230px;
}
}@media (max-width: 1200px) {
    body.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 0;
}
.page-title-full-width-container {
    padding-top: 0;
}
.glazed-header {
    position: static;
}
.glazed-header#navbar {
    background-color: #ffffff;
    color: #696969;
}
.glazed-header#navbar a {
    color: #696969;
}
.glazed-header#navbar a:hover, .glazed-header#navbar a:focus {
    color: #696969;
}
.glazed-header li {
    clear: both;
}
.glazed-header .navbar-header {
    float: none;
}
.glazed-header .navbar-header .wrap-branding {
    display: table;
    float: left;
    height: 60px;
}
.glazed-header .navbar-header .wrap-branding .logo, .glazed-header .navbar-header .wrap-branding .navbar-brand {
    display: table-cell;
    vertical-align: middle;
}
.glazed-header .navbar-left, .glazed-header .navbar-right {
    float: none !important;
}
.glazed-header .wrap-button {
    display: table;
    float: right;
}
.glazed-header .navbar-toggle {
    display: table-cell;
    vertical-align: middle;
    border-radius: 0;
    background: #ffffff;
    border: none;
    height: 60px;
    margin: 0;
}
.glazed-header .navbar-toggle .icon-bar {
    width: 28px;
    height: 3px;
    background: #1488cb;
    margin-left: auto;
}
.glazed-header .navbar-collapse {
    border-top: none;
    clear: both;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.glazed-header .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.glazed-header .navbar-collapse.collapse {
    display: none !important;
}
.glazed-header .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
}
.glazed-header .navbar-nav>li {
    float: none;
}
.glazed-header .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.glazed-header .collapse.in {
    display: block !important;
}
.glazed-header .dropdown-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
}
}.glazed-secondary-header {
    z-index: 1000;
    min-height: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2em;
    background: #e7e7e7;
    color: #9a9a9a;
}
.glazed-secondary-header a {
    color: #9a9a9a;
}
.glazed-secondary-header .block, .glazed-secondary-header p {
    margin-bottom: 0;
}
.glazed-secondary-header .secondary-header-container {
    margin-bottom: 0;
}
.navbar-nav.secondary {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav.secondary a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2em;
}
.navbar-nav.secondary a:hover, .navbar-nav.secondary a:focus {
    background: transparent;
}
.navbar-nav.secondary li {
    float: left;
}
.page-title-full-width-container .breadcrumb-container {
    position: relative;
}
.page-title-full-width-container .breadcrumb {
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-style: italic;
    opacity: 0.85;
    margin: 0;
    padding: 10px 0;
}
.page-title-full-width-container .breadcrumb a {
    font-style: normal;
    text-decoration: none;
}
.page-title-full-width-container .breadcrumb a:hover, .page-title-full-width-container .breadcrumb a:focus {
    color: #1488cb;
}
.page-title-full-width-container .breadcrumb a[href$="/uuid"], .page-title-full-width-container .breadcrumb a[href$="/uuid"]+.glazed-breadcrumb-spacer {
    display: none;
}
.page-title-full-width-container .breadcrumb li+li:before {
    display: none;
    content: ''}
.page-title-full-width-container .breadcrumb span {
    padding: 0 5px;
    font-size: 12px;
}
#comments .user-picture a {
    display: block;
    width: 64px;
    height: 64px;
}
#comments img {
    width: 100%}
#comments .pull-left {
    margin-right: 25px;
}
#comments .indented {
    padding-left: 74px;
    border-left: 1px solid #ededed;
    margin-top: -25px;
}
#comments h3 {
    margin-top: 0.3em;
}
#comments .post-date {
    font-style: italic;
    font-size: 12px;
}
#comments .links {
    float: right;
    margin: 15px 0;
    clear: both;
}
#comments .comment, #comments #comment-form {
    border: 3px solid #ededed;
    padding: 25px;
    margin-bottom: 40.45px;
}
#comments .title.comment-form {
    margin-top: 30px;
}
.pagination {
    border-radius: 0;
}
.pagination>li>a, .pagination>li>span {
    color: #777777;
    background-color: transparent;
    border-color: #f1f1f1;
    opacity: 0.6;
    padding: 1em 1.4em;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>li>span:hover, .pagination>li>span:focus {
    color: #777777;
    background-color: transparent;
    border-color: #f1f1f1;
    opacity: 1;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    color: #777777;
    background-color: transparent;
    border-color: #f1f1f1;
    opacity: 1;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #ededed;
    background-color: #777777;
    border-color: transparent;
}
.image-field-caption {
    font-size: 14px;
}
.views-bootstrap-grid-plugin-style h3.title {
    margin: 10px 0;
}
.cms-portfolio-excerpt h3.title {
    margin: 0;
}
.field-blog-tags a, .tagclouds-term a {
    display: inline-block;
    background: #f1f1f1;
    color: #777777;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 7px 7px 8px;
    margin: 0 5px 5px 0;
}
.field-blog-tags a:hover, .field-blog-tags a:focus, .tagclouds-term a:hover, .tagclouds-term a:focus {
    text-decoration: none;
    background: #777777;
    color: #f1f1f1;
}
.field-blog-tags a {
    font-size: 12px;
}
.cms-blog-links .row {
    padding-bottom: 0;
}
.view-display-id-blog_classic .field-blog-image, .node-blog .field-blog-image {
    margin-bottom: 10px;
}
.cms-blog-links {
    border: solid #ededed;
    border-width: 1px 0;
    padding: 0;
}
.cms-blog-links .col-sm-4 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.cms-blog-links .glazed-service-links {
    border: solid #ededed;
    border-width: 0 1px;
}
.cms-blog-links .glazed-service-links .fa {
    padding: 5px;
}
.cms-blog-links a {
    color: #333333;
}
.node-event .content>img {
    margin-bottom: 30px;
}
.node-event .top-fields h3.field-label {
    font-size: 14px;
    font-weight: bold;
}
.node-event .top-fields .row {
    margin-bottom: 0;
    padding: 0;
}
.node-event .top-fields h3, .node-event .top-fields [class^="field-event-"] {
    line-height: 1.6em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0;
}
.node-event .top-fields [class^="field-event-"] a {
    color: #1488cb;
}
.view-cms-events h3>.date-display-single {
    font-size: 18px;
    text-transform: uppercase;
}
.view-cms-events .field-content a {
    color: #1488cb;
}
.view-cms-events .col-sm-3, .view-cms-events .col-sm-6 {
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .node-news.node-full {
    width: 50%;
    margin-left: 25%}
}.glazed-portfolio-title {
    color: #f1f1f1;
}
.glazed-portfolio-title a {
    color: #f1f1f1;
}
.cms-portfolio-excerpt .field-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.cms-portfolio-excerpt .title {
    background: #f1f1f1;
    font-size: 18px;
    margin: 0;
    padding-bottom: 0;
}
.cms-portfolio-excerpt p.field-content {
    background: #f1f1f1;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.cms-portfolio-excerpt .cbp-caption {
    margin-bottom: 0;
}
.view-glazed-premium-portfolio p.field-content {
    margin-bottom: 0;
}
.view-cms-portfolio .col-lg-2 .title {
    font-size: 18px;
}
.cbp-popup-content .field-portfolio-images img {
    width: 65%;
    float: left;
}
.cbp-popup-content .field-portfolio-images .image-field-caption {
    width: 33%;
    float: right;
}
.group-portfolio-extra {
    border-top: 3px solid #f1f1f1;
    margin-top: 30px;
}
.group-portfolio-extra .field-label {
    margin-top: 10px;
    margin-bottom: 0;
}
.html .main-container .cbp-filter-item-active, .html .main-container .cbp-filter-item:hover {
    color: #1488cb !important;
}
.html .main-container .cbp-l-filters-button .cbp-filter-item-active, .html .main-container .cbp-l-filters-button .cbp-filter-item:hover {
    color: #ffffff !important;
}
.stpe-teambox .stbe-social-links__item .fa {
    background: #eeeeee;
    color: #777777;
}
.stpe-teambox .stbe-social-links__item .fa:hover, .stpe-teambox .stbe-social-links__item .fa:focus {
    background: #777777;
    color: #eeeeee;
}
.stpe-imagebox .stpe-imagebox__title {
    font-size: 35px;
}
.tp-caption {
    white-space: normal !important;
    font-family: inherit !important;
}
.tp-caption.tp-glazed {
    background: #222222;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 36px;
    line-height: 1.6em;
    padding: 5px 10px;
    font-family: inherit;
}
.tp-banner ul {
    list-style: none;
    list-style-type: none;
}
.az-left-sidebar, .az-right-sidebar {
    z-index: 2000;
}
body.node-type-drag-drop-page.no-sidebars .page-title-full-width-container {
    margin-bottom: 0;
}
.region-slider div.carbide.az-container>.controls, .region-slider div.az-section>.controls {
    top: 0 !important;
}
.region-slider .carbide-editor.carbide.az-container {
    margin-top: 0 !important;
}
.region-slider div.az-section {
    margin-top: 0 !important;
}
#az-editor-tabs .fa_icons, #az-editor-tabs .line_icons {
    height: 350px;
    overflow: scroll;
}
.glazed-util-full-width-content .main-container {
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
}
.glazed-util-full-width-content .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
.html .glazed-util-background-body {
    background-color: #fefffe;
}
.html .glazed-util-background-gray {
    background-color: #555555;
}
.html .glazed-util-background-primary, .html .bg-primary {
    background-color: #1488cb;
}
.html .glazed-util-background-accent1 {
    background-color: #06537e;
}
.html .glazed-util-background-accent2 {
    background-color: #033747;
}
.html .glazed-util-background-well-text {
    background-color: #444444;
}
.html .glazed-util-background-white {
    background-color: white;
}
.html .glazed-util-background-black {
    background-color: #000;
}
.html .glazed-util-border-primary {
    border-color: #1488cb;
}
.html .glazed-util-border-accent1 {
    border-color: #06537e;
}
.html .glazed-util-border-accent2 {
    border-color: #033747;
}
.html .glazed-util-border-primary-gray {
    border-color: #555555;
}
.html .glazed-util-border-white {
    border-color: white;
}
.html .glazed-util-border-black {
    border-color: #000;
}
.html .glazed-util-color-gray {
    color: #555555;
}
.html .glazed-util-color-primary, .html .text-primary {
    color: #1488cb;
}
.html .glazed-util-color-accent1 {
    color: #06537e;
}
.html .glazed-util-color-accent2 {
    color: #033747;
}
.html .glazed-util-color-well-text {
    color: #444444;
}
.html .glazed-util-color-white {
    color: white;
}
.html .glazed-util-color-black {
    color: #000;
}
.html .glazed-util-hover-background-primary:hover {
    background-color: #1488cb;
}
.html .glazed-util-hover-background-white:hover {
    background-color: white;
}
.html .glazed-util-hover-background-black:hover {
    background-color: #000;
}
.html .glazed-util-hover-border-primary:hover {
    border-color: #1488cb;
}
.html .glazed-util-hover-border-white:hover {
    border-color: white;
}
.html .glazed-util-hover-border-black:hover {
    border-color: #000;
}
.html .glazed-util-hover-color-primary:hover {
    color: #1488cb;
}
.html .glazed-util-hover-color-white:hover {
    color: white;
}
.html .glazed-util-hover-color-black:hover {
    color: #000;
}
.html .glazed-util-clear-both {
    clear: both;
}
.html .glazed-util-clear-left {
    clear: left;
}
.html .glazed-util-clear-right {
    clear: right;
}
.html .glazed-util-float-left {
    float: left;
}
.html .glazed-util-float-left img {
    margin: 0 20px 15px 0;
}
.html .glazed-util-float-right {
    float: right;
}
.html .glazed-util-float-right img {
    margin: 0 0 15px 20px;
}
.html .glazed-util-columns-5 .col-lg-2, .html .glazed-util-columns-5 .col-md-2, .html .glazed-util-columns-5 .col-sm-2, .html .glazed-util-columns-5 .col-xs-2 {
    width: 20%}
.html .glazed-util-no-gutter .col-xs-1, .html .glazed-util-no-gutter .col-sm-1, .html .glazed-util-no-gutter .col-md-1, .html .glazed-util-no-gutter .col-lg-1, .html .glazed-util-no-gutter .col-xs-2, .html .glazed-util-no-gutter .col-sm-2, .html .glazed-util-no-gutter .col-md-2, .html .glazed-util-no-gutter .col-lg-2, .html .glazed-util-no-gutter .col-xs-3, .html .glazed-util-no-gutter .col-sm-3, .html .glazed-util-no-gutter .col-md-3, .html .glazed-util-no-gutter .col-lg-3, .html .glazed-util-no-gutter .col-xs-4, .html .glazed-util-no-gutter .col-sm-4, .html .glazed-util-no-gutter .col-md-4, .html .glazed-util-no-gutter .col-lg-4, .html .glazed-util-no-gutter .col-xs-5, .html .glazed-util-no-gutter .col-sm-5, .html .glazed-util-no-gutter .col-md-5, .html .glazed-util-no-gutter .col-lg-5, .html .glazed-util-no-gutter .col-xs-6, .html .glazed-util-no-gutter .col-sm-6, .html .glazed-util-no-gutter .col-md-6, .html .glazed-util-no-gutter .col-lg-6, .html .glazed-util-no-gutter .col-xs-7, .html .glazed-util-no-gutter .col-sm-7, .html .glazed-util-no-gutter .col-md-7, .html .glazed-util-no-gutter .col-lg-7, .html .glazed-util-no-gutter .col-xs-8, .html .glazed-util-no-gutter .col-sm-8, .html .glazed-util-no-gutter .col-md-8, .html .glazed-util-no-gutter .col-lg-8, .html .glazed-util-no-gutter .col-xs-9, .html .glazed-util-no-gutter .col-sm-9, .html .glazed-util-no-gutter .col-md-9, .html .glazed-util-no-gutter .col-lg-9, .html .glazed-util-no-gutter .col-xs-10, .html .glazed-util-no-gutter .col-sm-10, .html .glazed-util-no-gutter .col-md-10, .html .glazed-util-no-gutter .col-lg-10, .html .glazed-util-no-gutter .col-xs-11, .html .glazed-util-no-gutter .col-sm-11, .html .glazed-util-no-gutter .col-md-11, .html .glazed-util-no-gutter .col-lg-11, .html .glazed-util-no-gutter .col-xs-12, .html .glazed-util-no-gutter .col-sm-12, .html .glazed-util-no-gutter .col-md-12, .html .glazed-util-no-gutter .col-lg-12 {
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .html .glazed-util-columns-5 .col-lg-2, .html .glazed-util-columns-5 .col-md-2, .html .glazed-util-columns-5 .col-sm-2, .html .glazed-util-columns-5 .col-xs-2 {
    width: 100%%;
    clear: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
}.html .glazed-util-text-shadow {
    text-shadow: 1px 1px #000;
}
.html .glazed-util-text-shado-80 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}
.html .glazed-util-text-shadow-60 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
.html .glazed-util-text-shadow-40 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}
.html .glazed-util-text-shadow-20 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.html .glazed-util-text-muted {
    opacity: 0.75;
}
.html .glazed-util-text-uppercase {
    text-transform: uppercase;
}
.html .glazed-util-text-bold {
    font-weight: 700;
}
.html .glazed-util-text-light {
    font-weight: 300;
}
.html .glazed-util-text-bold {
    font-weight: 700;
}
.html .glazed-util-text-italic {
    font-style: italic;
}
.html .glazed-util-overlay-primary, .html .glazed-util-overlay-accent1, .html .glazed-util-overlay-accent2, .html .glazed-util-overlay-black, .html .glazed-util-overlay-white, .html .glazed-util-overlay-gray {
    position: relative;
    z-index: 0;
}
.html .glazed-util-overlay-primary:after, .html .glazed-util-overlay-accent1:after, .html .glazed-util-overlay-accent2:after, .html .glazed-util-overlay-black:after, .html .glazed-util-overlay-white:after, .html .glazed-util-overlay-gray:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.90;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.html .glazed-util-overlay-20:after {
    opacity: 0.20;
}
.html .glazed-util-overlay-40:after {
    opacity: 0.40;
}
.html .glazed-util-overlay-60:after {
    opacity: 0.60;
}
.html .glazed-util-overlay-80:after {
    opacity: 0.80;
}
.html .glazed-util-overlay-primary, .html .glazed-util-overlay-accent1, .html .glazed-util-overlay-accent2, .html .glazed-util-overlay-black, .html .glazed-util-overlay-gray, .html .glazed-util-background-accent2, .html .glazed-util-background-accent1, .html .glazed-util-background-primary, .html .glazed-util-background-gray, .html .bg-primary {
    color: #fff;
}
.html .glazed-util-overlay-primary h1, .html .glazed-util-overlay-primary h2, .html .glazed-util-overlay-primary h3, .html .glazed-util-overlay-accent1 h1, .html .glazed-util-overlay-accent1 h2, .html .glazed-util-overlay-accent1 h3, .html .glazed-util-overlay-accent2 h1, .html .glazed-util-overlay-accent2 h2, .html .glazed-util-overlay-accent2 h3, .html .glazed-util-overlay-black h1, .html .glazed-util-overlay-black h2, .html .glazed-util-overlay-black h3, .html .glazed-util-overlay-gray h1, .html .glazed-util-overlay-gray h2, .html .glazed-util-overlay-gray h3, .html .glazed-util-background-accent2 h1, .html .glazed-util-background-accent2 h2, .html .glazed-util-background-accent2 h3, .html .glazed-util-background-accent1 h1, .html .glazed-util-background-accent1 h2, .html .glazed-util-background-accent1 h3, .html .glazed-util-background-primary h1, .html .glazed-util-background-primary h2, .html .glazed-util-background-primary h3, .html .glazed-util-background-gray h1, .html .glazed-util-background-gray h2, .html .glazed-util-background-gray h3, .html .bg-primary h1, .html .bg-primary h2, .html .bg-primary h3 {
    color: #fff;
}
.html .glazed-util-overlay-primary:after {
    background-color: #1488cb;
}
.html .glazed-util-overlay-accent1:after {
    background-color: #06537e;
}
.html .glazed-util-overlay-accent2:after {
    background-color: #033747;
}
.html .glazed-util-overlay-black:after {
    background-color: #000;
}
.html .glazed-util-overlay-white:after {
    background-color: white;
}
.html .glazed-util-overlay-gray:after {
    background-color: #555555;
}
