<link href="../../css/elements/quoteslider.css" rel="stylesheet" type="text/css">

<div class="carousel slide stpe-quoteslider" data-ride="carousel" id="stpe-quoteslider">
  <!-- Bottom Carousel Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#stpe-quoteslider" data-slide-to="0" class="active"></li>
    <li data-target="#stpe-quoteslider" data-slide-to="1"></li>
    <li data-target="#stpe-quoteslider" data-slide-to="2"></li>
    <li data-target="#stpe-quoteslider" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <blockquote>
        <div class="row">
          <div class="col-sm-3 text-center">
            <img class="img-circle stpe-quoteslider__image" src="http://i.imgur.com/capIu94s.jpg">
          </div>
          <div class="col-sm-9">
            <p class="az-editable">It's incredible. Product impressed me on multiple levels. Very easy to use. Wow what great service, I love it!</p>
            <small class="az-editable">Jack Finklestein</small>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="item">
      <blockquote>
        <div class="row">
          <div class="col-sm-3 text-center">
            <img class="img-circle stpe-quoteslider__image" src="http://i.imgur.com/capIu94s.jpg">
          </div>
          <div class="col-sm-9">
            <p class="az-editable">The best on the net! I would be lost without Product. Product is worth much more than I paid.</p>
            <small class="az-editable">Rick Edwards</small>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="item">
      <blockquote>
        <div class="row">
          <div class="col-sm-3 text-center">
            <img class="img-circle stpe-quoteslider__image" src="http://i.imgur.com/capIu94s.jpg">
          </div>
          <div class="col-sm-9">
            <p class="az-editable">I like Product more and more each day because it makes my life a lot easier. I was amazed at the quality of Product. It's exactly what I've been looking for. Best. Product. Ever!</p>
            <small class="az-editable">Carla Achterberg</small>
          </div>
        </div>
      </blockquote>
    </div>
    <div class="item">
      <blockquote>
        <div class="row">
          <div class="col-sm-3 text-center">
            <img class="img-circle stpe-quoteslider__image" src="http://i.imgur.com/capIu94s.jpg">
          </div>
          <div class="col-sm-9">
            <p class="az-editable">We can't understand how we've been living without Product. Product is the most valuable business resource we have EVER purchased. Man, this thing is getting better and better as I learn more about it. Very easy to use.</p>
            <small class="az-editable">Michael White</small>
          </div>
        </div>
      </blockquote>
    </div>
  </div>

  <!-- Carousel Buttons Next/Prev -->
  <a data-slide="prev" href="#stpe-quoteslider" class="left carousel-control"><i class="fa fa-chevron-left">&nbsp;</i></a>
  <a data-slide="next" href="#stpe-quoteslider" class="right carousel-control"><i class="fa fa-chevron-right">&nbsp;</i></a>
</div>