@charset "UTF-8";

@import "compass/css3";


.html {
  // Set fixed width by default
  .fa,
  .pe{
    // Disabled 5/12/2014 because it messes up the pe icon for button in elements modal ~Jur
    // box-sizing: content-box; // Needed for proper padding support in fixed width (.fw) icons
    text-align:center;
    line-height:1.28571429em; // based on Font Awesome fa-fw style (fixed width)
    width:1.28571429em;
    height:1.28571429em;
    padding:0;
  }

  // STBE Icon Style Utility classes
  .stbe-util-icon-circle {
    border-radius: 50%;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  .stbe-util-icon-square {
    border-radius: 0;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  .stbe-util-icon-rounded {
    border-radius: 4px;
    background: #333;
    color:#fff;
    padding:0.4em;
  }
  // Icon border switch
  .stbe-util-icon-border {
    border: 1px solid #444;
    background:transparent;
    color:#333;
    padding:0.4em;
  }
  .stbe-util-icon-circle,
  .stbe-util-icon-square,
  .stbe-util-icon-rounded,
  .stbe-util-icon-border {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}



// CSS3 Hover Effects
// based on http://tympanus.net/codrops/?p=15265
.stbe-util-icon-fx {
  background: #eee;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 1;
}
.stbe-util-icon-fx:before {
}
.stbe-util-icon-fx:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.stbe-util-fx-disc {
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.stbe-util-fx-disc:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  background:inherit;
  z-index:-1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

.stbe-util-fx-disc:hover:after {
  @include scale(1.2);
  opacity:1;
}

.stbe-util-fx-pulse {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.stbe-util-fx-pulse:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: inherit;
  -webkit-transition: -webkit-transform 0.25s, opacity 0.35s;
  -moz-transition: -moz-transform 0.25s, opacity 0.35s;
  transition: transform 0.25s, opacity 0.35s;
  @include scale(0.7);
}

.stbe-util-fx-pulse:hover:after {
  @include scale(1.5);
  opacity: 0;
}


// Font Awesome Original Styles
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}