@charset "UTF-8";

@import "compass/css3";

//
// Social icons shortcode styling
//

.html ul.stbe-social-links {
  margin:0;
  padding:0;
  .stbe-social-links__item {
    margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
    // min-height:20px;
    background-image:none;
    display:inline-block;
    // padding-top:7px;
    // padding-bottom:7px;
    a {
      margin-right:0.5em;
      margin-top:4px;
      display:block;
      min-height:19px;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  &.stbe-social-links-stacked .stbe-social-links__item {
    display: block;
  }
  .fa {
    box-sizing: content-box;
    // color:  #eee;
    // color: rgba(200, 200, 200, 0.8);
  }
  .fa {
    &:hover, &:active {
      // color: #fff;
    }
  }
}

// Icon color source: http://codepen.io/elishaterada/pen/tGokD/

// Brand Colors
$fa-adn: #4A484C;
$fa-android: #a4c639;
$fa-angellist: #000;
$fa-apple: #979797;
$fa-behance: #1769ff;
$fa-behance-square: $fa-behance;
$fa-bitbucket: #205081;
$fa-bitbucket-square: $fa-bitbucket;
$fa-bitcoin: #ee9209;
$fa-btc: $fa-bitcoin;
$fa-cc-amex: #007bc1;
$fa-cc-discover: #f68121;
$fa-cc-mastercard: #0a3a82;
$fa-cc-paypal: #253b80;
$fa-cc-stripe: #00afe1;
$fa-cc-visa: #0157a2;
$fa-codepen: #000;
$fa-css3: #1680C0;
$fa-delicious: #3399ff;
$fa-deviantart: #4e6252;
$fa-digg: #000;
$fa-dribbble: #444444;
$fa-dropbox: #007ee5;
$fa-drupal: #0077c0;
$fa-empire: #000;
$fa-facebook: #3b5998;
$fa-facebook-square: $fa-facebook;
$fa-flickr: #ff0084;
$fa-foursquare: #0072b1;
$fa-ge: #000;
$fa-git: #333;
$fa-git-square: $fa-git;
$fa-github: $fa-git;
$fa-github-alt: $fa-github;
$fa-github-square: $fa-github;
$fa-gittip: #663300;
$fa-google: #4285f4;
$fa-google-plus: #dd4b39;
$fa-google-plus-square: $fa-google-plus;
$fa-google-wallet: $fa-google;
$fa-hacker-news: #ff6600;
$fa-html5: #e34f26;
$fa-instagram: #3f729b;
$fa-ioxhost: #faa729;
$fa-joomla: #142849;
$fa-jsfiddle: #4679BD;
$fa-lastfm: #c3000d;
$fa-lastfm-square: $fa-lastfm;
$fa-linkedin: #0976b4;
$fa-linkedin-square: $fa-linkedin;
$fa-linux: #333333;
$fa-maxcdn: #FF6600;
$fa-meanpath: #538ed7;
$fa-openid: #F78C40;
$fa-pagelines: #000;
$fa-paypal: #253b80;
$fa-pied-piper: #2f9f46;
$fa-pied-piper-alt: $fa-pied-piper;
$fa-pied-piper-square: $fa-pied-piper;
$fa-pinterest: #cc2127;
$fa-pinterest-square: $fa-pinterest;
$fa-qq: #000;
$fa-ra: #000;
$fa-rebel: $fa-ra;
$fa-reddit: #ff4500;
$fa-reddit-square: $fa-reddit;
$fa-renren: #005EAC;
$fa-share-alt: #01bf01;
$fa-share-alt-square: $fa-share-alt;
$fa-skype: #00aff0;
$fa-slack: #0f7965;
$fa-slideshare: #e98325;
$fa-soundcloud: #f80;
$fa-spotify: #7ab800;
$fa-stack-exchange: #000;
$fa-stack-overflow: #fe7a15;
$fa-steam: #0B0B0B;
$fa-steam-square: $fa-steam;
$fa-stumbleupon: #eb4924;
$fa-stumbleupon-circle: $fa-stumbleupon;
$fa-tencent-weibo: #74AF2C;
$fa-trello: #256a92;
$fa-tumblr: #35465c;
$fa-tumblr-square: $fa-tumblr;
$fa-twitch: #6441a5;
$fa-twitter: #55acee;
$fa-twitter-square: $fa-twitter;
$fa-vimeo-square: #162221;
$fa-vine: #00b488;
$fa-vk: #45668e;
$fa-wechat: #93d034;
$fa-weibo: #E71D34;
$fa-weixin: $fa-wechat;
$fa-windows: #00bcf2;
$fa-wordpress: #21759b;
$fa-xing: #026466;
$fa-xing-square: $fa-xing;
$fa-yahoo: #400191;
$fa-yelp: #af0606;
$fa-youtube: #e52d27;
$fa-youtube-play: $fa-youtube;
$fa-youtube-square: $fa-youtube;
.stbe-social-links--bgcolor-brand .fa,
.stbe-social-links--hover-bgcolor-brand .fa:hover {
  &.fa-adn {
    background-color: $fa-adn; border-color: $fa-adn;
  }
  &.fa-android {
    background-color: $fa-android; border-color: $fa-android;
  }
  &.fa-angellist {
    background-color: $fa-angellist; border-color: $fa-angellist;
  }
  &.fa-apple {
    background-color: $fa-apple; border-color: $fa-apple;
  }
  &.fa-behance {
    background-color: $fa-behance; border-color: $fa-behance;
  }
  &.fa-behance-square {
    background-color: $fa-behance-square; border-color: $fa-behance-square;
  }
  &.fa-bitbucket {
    background-color: $fa-bitbucket; border-color: $fa-bitbucket;
  }
  &.fa-bitbucket-square {
    background-color: $fa-bitbucket-square; border-color: $fa-bitbucket-square;
  }
  &.fa-bitcoin {
    background-color: $fa-bitcoin; border-color: $fa-bitcoin;
  }
  &.fa-btc {
    background-color: $fa-btc; border-color: $fa-btc;
  }
  &.fa-cc-amex {
    background-color: $fa-cc-amex; border-color: $fa-cc-amex;
  }
  &.fa-cc-discover {
    background-color: $fa-cc-discover; border-color: $fa-cc-discover;
  }
  &.fa-cc-mastercard {
    background-color: $fa-cc-mastercard; border-color: $fa-cc-mastercard;
  }
  &.fa-cc-paypal {
    background-color: $fa-cc-paypal; border-color: $fa-cc-paypal;
  }
  &.fa-cc-stripe {
    background-color: $fa-cc-stripe; border-color: $fa-cc-stripe;
  }
  &.fa-cc-visa {
    background-color: $fa-cc-visa; border-color: $fa-cc-visa;
  }
  &.fa-codepen {
    background-color: $fa-codepen; border-color: $fa-codepen;
  }
  &.fa-css3 {
    background-color: $fa-css3; border-color: $fa-css3;
  }
  &.fa-delicious {
    background-color: $fa-delicious; border-color: $fa-delicious;
  }
  &.fa-deviantart {
    background-color: $fa-deviantart; border-color: $fa-deviantart;
  }
  &.fa-digg {
    background-color: $fa-digg; border-color: $fa-digg;
  }
  &.fa-dribbble {
    background-color: $fa-dribbble; border-color: $fa-dribbble;
  }
  &.fa-dropbox {
    background-color: $fa-dropbox; border-color: $fa-dropbox;
  }
  &.fa-drupal {
    background-color: $fa-drupal; border-color: $fa-drupal;
  }
  &.fa-empire {
    background-color: $fa-empire; border-color: $fa-empire;
  }
  &.fa-facebook {
    background-color: $fa-facebook; border-color: $fa-facebook;
  }
  &.fa-facebook-square {
    background-color: $fa-facebook-square; border-color: $fa-facebook-square;
  }
  &.fa-flickr {
    background-color: $fa-flickr; border-color: $fa-flickr;
  }
  &.fa-foursquare {
    background-color: $fa-foursquare; border-color: $fa-foursquare;
  }
  &.fa-ge {
    background-color: $fa-ge; border-color: $fa-ge;
  }
  &.fa-git {
    background-color: $fa-git; border-color: $fa-git;
  }
  &.fa-git-square {
    background-color: $fa-git-square; border-color: $fa-git-square;
  }
  &.fa-github {
    background-color: $fa-github; border-color: $fa-github;
  }
  &.fa-github-alt {
    background-color: $fa-github-alt; border-color: $fa-github-alt;
  }
  &.fa-github-square {
    background-color: $fa-github-square; border-color: $fa-github-square;
  }
  &.fa-gittip {
    background-color: $fa-gittip; border-color: $fa-gittip;
  }
  &.fa-google {
    background-color: $fa-google; border-color: $fa-google;
  }
  &.fa-google-plus {
    background-color: $fa-google-plus; border-color: $fa-google-plus;
  }
  &.fa-google-plus-square {
    background-color: $fa-google-plus-square; border-color: $fa-google-plus-square;
  }
  &.fa-google-wallet {
    background-color: $fa-google-wallet; border-color: $fa-google-wallet;
  }
  &.fa-hacker-news {
    background-color: $fa-hacker-news; border-color: $fa-hacker-news;
  }
  &.fa-html5 {
    background-color: $fa-html5; border-color: $fa-html5;
  }
  &.fa-instagram {
    background-color: $fa-instagram; border-color: $fa-instagram;
  }
  &.fa-ioxhost {
    background-color: $fa-ioxhost; border-color: $fa-ioxhost;
  }
  &.fa-joomla {
    background-color: $fa-joomla; border-color: $fa-joomla;
  }
  &.fa-jsfiddle {
    background-color: $fa-jsfiddle; border-color: $fa-jsfiddle;
  }
  &.fa-lastfm {
    background-color: $fa-lastfm; border-color: $fa-lastfm;
  }
  &.fa-lastfm-square {
    background-color: $fa-lastfm-square; border-color: $fa-lastfm-square;
  }
  &.fa-linkedin {
    background-color: $fa-linkedin; border-color: $fa-linkedin;
  }
  &.fa-linkedin-square {
    background-color: $fa-linkedin-square; border-color: $fa-linkedin-square;
  }
  &.fa-linux {
    background-color: $fa-linux; border-color: $fa-linux;
  }
  &.fa-maxcdn {
    background-color: $fa-maxcdn; border-color: $fa-maxcdn;
  }
  &.fa-meanpath {
    background-color: $fa-meanpath; border-color: $fa-meanpath;
  }
  &.fa-openid {
    background-color: $fa-openid; border-color: $fa-openid;
  }
  &.fa-pagelines {
    background-color: $fa-pagelines; border-color: $fa-pagelines;
  }
  &.fa-paypal {
    background-color: $fa-paypal; border-color: $fa-paypal;
  }
  &.fa-pied-piper {
    background-color: $fa-pied-piper; border-color: $fa-pied-piper;
  }
  &.fa-pied-piper-alt {
    background-color: $fa-pied-piper-alt; border-color: $fa-pied-piper-alt;
  }
  &.fa-pied-piper-square {
    background-color: $fa-pied-piper-square; border-color: $fa-pied-piper-square;
  }
  &.fa-pinterest {
    background-color: $fa-pinterest; border-color: $fa-pinterest;
  }
  &.fa-pinterest-square {
    background-color: $fa-pinterest-square; border-color: $fa-pinterest-square;
  }
  &.fa-qq {
    background-color: $fa-qq; border-color: $fa-qq;
  }
  &.fa-ra {
    background-color: $fa-ra; border-color: $fa-ra;
  }
  &.fa-rebel {
    background-color: $fa-rebel; border-color: $fa-rebel;
  }
  &.fa-reddit {
    background-color: $fa-reddit; border-color: $fa-reddit;
  }
  &.fa-reddit-square {
    background-color: $fa-reddit-square; border-color: $fa-reddit-square;
  }
  &.fa-renren {
    background-color: $fa-renren; border-color: $fa-renren;
  }
  &.fa-share-alt {
    background-color: $fa-share-alt; border-color: $fa-share-alt;
  }
  &.fa-share-alt-square {
    background-color: $fa-share-alt-square; border-color: $fa-share-alt-square;
  }
  &.fa-skype {
    background-color: $fa-skype; border-color: $fa-skype;
  }
  &.fa-slack {
    background-color: $fa-slack; border-color: $fa-slack;
  }
  &.fa-slideshare {
    background-color: $fa-slideshare; border-color: $fa-slideshare;
  }
  &.fa-soundcloud {
    background-color: $fa-soundcloud; border-color: $fa-soundcloud;
  }
  &.fa-spotify {
    background-color: $fa-spotify; border-color: $fa-spotify;
  }
  &.fa-stack-exchange {
    background-color: $fa-stack-exchange; border-color: $fa-stack-exchange;
  }
  &.fa-stack-overflow {
    background-color: $fa-stack-overflow; border-color: $fa-stack-overflow;
  }
  &.fa-steam {
    background-color: $fa-steam; border-color: $fa-steam;
  }
  &.fa-steam-square {
    background-color: $fa-steam-square; border-color: $fa-steam-square;
  }
  &.fa-stumbleupon {
    background-color: $fa-stumbleupon; border-color: $fa-stumbleupon;
  }
  &.fa-stumbleupon-circle {
    background-color: $fa-stumbleupon-circle; border-color: $fa-stumbleupon-circle;
  }
  &.fa-tencent-weibo {
    background-color: $fa-tencent-weibo; border-color: $fa-tencent-weibo;
  }
  &.fa-trello {
    background-color: $fa-trello; border-color: $fa-trello;
  }
  &.fa-tumblr {
    background-color: $fa-tumblr; border-color: $fa-tumblr;
  }
  &.fa-tumblr-square {
    background-color: $fa-tumblr-square; border-color: $fa-tumblr-square;
  }
  &.fa-twitch {
    background-color: $fa-twitch; border-color: $fa-twitch;
  }
  &.fa-twitter {
    background-color: $fa-twitter; border-color: $fa-twitter;
  }
  &.fa-twitter-square {
    background-color: $fa-twitter-square; border-color: $fa-twitter-square;
  }
  &.fa-vimeo-square {
    background-color: $fa-vimeo-square; border-color: $fa-vimeo-square;
  }
  &.fa-vine {
    background-color: $fa-vine; border-color: $fa-vine;
  }
  &.fa-vk {
    background-color: $fa-vk; border-color: $fa-vk;
  }
  &.fa-wechat {
    background-color: $fa-wechat; border-color: $fa-wechat;
  }
  &.fa-weibo {
    background-color: $fa-weibo; border-color: $fa-weibo;
  }
  &.fa-weixin {
    background-color: $fa-weixin; border-color: $fa-weixin;
  }
  &.fa-windows {
    background-color: $fa-windows; border-color: $fa-windows;
  }
  &.fa-wordpress {
    background-color: $fa-wordpress; border-color: $fa-wordpress;
  }
  &.fa-xing {
    background-color: $fa-xing; border-color: $fa-xing;
  }
  &.fa-xing-square {
    background-color: $fa-xing-square; border-color: $fa-xing-square;
  }
  &.fa-yahoo {
    background-color: $fa-yahoo; border-color: $fa-yahoo;
  }
  &.fa-yelp {
    background-color: $fa-yelp; border-color: $fa-yelp;
  }
  &.fa-youtube {
    background-color: $fa-youtube; border-color: $fa-youtube;
  }
  &.fa-youtube-play {
    background-color: $fa-youtube-play; border-color: $fa-youtube-play;
  }
  &.fa-youtube-square {
    background-color: $fa-youtube-square; border-color: $fa-youtube-square;
  }

  &.stbe-util--icon-border {
    background: transparent;color:#444;
  }
}

.stbe-social-links--color-brand .fa,
.stbe-social-links--hover-color-brand .fa:hover {
  &.fa-adn {
    color: $fa-adn; border-color: $fa-adn;
  }
  &.fa-android {
    color: $fa-android; border-color: $fa-android;
  }
  &.fa-angellist {
    color: $fa-angellist; border-color: $fa-angellist;
  }
  &.fa-apple {
    color: $fa-apple; border-color: $fa-apple;
  }
  &.fa-behance {
    color: $fa-behance; border-color: $fa-behance;
  }
  &.fa-behance-square {
    color: $fa-behance-square; border-color: $fa-behance-square;
  }
  &.fa-bitbucket {
    color: $fa-bitbucket; border-color: $fa-bitbucket;
  }
  &.fa-bitbucket-square {
    color: $fa-bitbucket-square; border-color: $fa-bitbucket-square;
  }
  &.fa-bitcoin {
    color: $fa-bitcoin; border-color: $fa-bitcoin;
  }
  &.fa-btc {
    color: $fa-btc; border-color: $fa-btc;
  }
  &.fa-cc-amex {
    color: $fa-cc-amex; border-color: $fa-cc-amex;
  }
  &.fa-cc-discover {
    color: $fa-cc-discover; border-color: $fa-cc-discover;
  }
  &.fa-cc-mastercard {
    color: $fa-cc-mastercard; border-color: $fa-cc-mastercard;
  }
  &.fa-cc-paypal {
    color: $fa-cc-paypal; border-color: $fa-cc-paypal;
  }
  &.fa-cc-stripe {
    color: $fa-cc-stripe; border-color: $fa-cc-stripe;
  }
  &.fa-cc-visa {
    color: $fa-cc-visa; border-color: $fa-cc-visa;
  }
  &.fa-codepen {
    color: $fa-codepen; border-color: $fa-codepen;
  }
  &.fa-css3 {
    color: $fa-css3; border-color: $fa-css3;
  }
  &.fa-delicious {
    color: $fa-delicious; border-color: $fa-delicious;
  }
  &.fa-deviantart {
    color: $fa-deviantart; border-color: $fa-deviantart;
  }
  &.fa-digg {
    color: $fa-digg; border-color: $fa-digg;
  }
  &.fa-dribbble {
    color: $fa-dribbble; border-color: $fa-dribbble;
  }
  &.fa-dropbox {
    color: $fa-dropbox; border-color: $fa-dropbox;
  }
  &.fa-drupal {
    color: $fa-drupal; border-color: $fa-drupal;
  }
  &.fa-empire {
    color: $fa-empire; border-color: $fa-empire;
  }
  &.fa-facebook {
    color: $fa-facebook; border-color: $fa-facebook;
  }
  &.fa-facebook-square {
    color: $fa-facebook-square; border-color: $fa-facebook-square;
  }
  &.fa-flickr {
    color: $fa-flickr; border-color: $fa-flickr;
  }
  &.fa-foursquare {
    color: $fa-foursquare; border-color: $fa-foursquare;
  }
  &.fa-ge {
    color: $fa-ge; border-color: $fa-ge;
  }
  &.fa-git {
    color: $fa-git; border-color: $fa-git;
  }
  &.fa-git-square {
    color: $fa-git-square; border-color: $fa-git-square;
  }
  &.fa-github {
    color: $fa-github; border-color: $fa-github;
  }
  &.fa-github-alt {
    color: $fa-github-alt; border-color: $fa-github-alt;
  }
  &.fa-github-square {
    color: $fa-github-square; border-color: $fa-github-square;
  }
  &.fa-gittip {
    color: $fa-gittip; border-color: $fa-gittip;
  }
  &.fa-google {
    color: $fa-google; border-color: $fa-google;
  }
  &.fa-google-plus {
    color: $fa-google-plus; border-color: $fa-google-plus;
  }
  &.fa-google-plus-square {
    color: $fa-google-plus-square; border-color: $fa-google-plus-square;
  }
  &.fa-google-wallet {
    color: $fa-google-wallet; border-color: $fa-google-wallet;
  }
  &.fa-hacker-news {
    color: $fa-hacker-news; border-color: $fa-hacker-news;
  }
  &.fa-html5 {
    color: $fa-html5; border-color: $fa-html5;
  }
  &.fa-instagram {
    color: $fa-instagram; border-color: $fa-instagram;
  }
  &.fa-ioxhost {
    color: $fa-ioxhost; border-color: $fa-ioxhost;
  }
  &.fa-joomla {
    color: $fa-joomla; border-color: $fa-joomla;
  }
  &.fa-jsfiddle {
    color: $fa-jsfiddle; border-color: $fa-jsfiddle;
  }
  &.fa-lastfm {
    color: $fa-lastfm; border-color: $fa-lastfm;
  }
  &.fa-lastfm-square {
    color: $fa-lastfm-square; border-color: $fa-lastfm-square;
  }
  &.fa-linkedin {
    color: $fa-linkedin; border-color: $fa-linkedin;
  }
  &.fa-linkedin-square {
    color: $fa-linkedin-square; border-color: $fa-linkedin-square;
  }
  &.fa-linux {
    color: $fa-linux; border-color: $fa-linux;
  }
  &.fa-maxcdn {
    color: $fa-maxcdn; border-color: $fa-maxcdn;
  }
  &.fa-meanpath {
    color: $fa-meanpath; border-color: $fa-meanpath;
  }
  &.fa-openid {
    color: $fa-openid; border-color: $fa-openid;
  }
  &.fa-pagelines {
    color: $fa-pagelines; border-color: $fa-pagelines;
  }
  &.fa-paypal {
    color: $fa-paypal; border-color: $fa-paypal;
  }
  &.fa-pied-piper {
    color: $fa-pied-piper; border-color: $fa-pied-piper;
  }
  &.fa-pied-piper-alt {
    color: $fa-pied-piper-alt; border-color: $fa-pied-piper-alt;
  }
  &.fa-pied-piper-square {
    color: $fa-pied-piper-square; border-color: $fa-pied-piper-square;
  }
  &.fa-pinterest {
    color: $fa-pinterest; border-color: $fa-pinterest;
  }
  &.fa-pinterest-square {
    color: $fa-pinterest-square; border-color: $fa-pinterest-square;
  }
  &.fa-qq {
    color: $fa-qq; border-color: $fa-qq;
  }
  &.fa-ra {
    color: $fa-ra; border-color: $fa-ra;
  }
  &.fa-rebel {
    color: $fa-rebel; border-color: $fa-rebel;
  }
  &.fa-reddit {
    color: $fa-reddit; border-color: $fa-reddit;
  }
  &.fa-reddit-square {
    color: $fa-reddit-square; border-color: $fa-reddit-square;
  }
  &.fa-renren {
    color: $fa-renren; border-color: $fa-renren;
  }
  &.fa-share-alt {
    color: $fa-share-alt; border-color: $fa-share-alt;
  }
  &.fa-share-alt-square {
    color: $fa-share-alt-square; border-color: $fa-share-alt-square;
  }
  &.fa-skype {
    color: $fa-skype; border-color: $fa-skype;
  }
  &.fa-slack {
    color: $fa-slack; border-color: $fa-slack;
  }
  &.fa-slideshare {
    color: $fa-slideshare; border-color: $fa-slideshare;
  }
  &.fa-soundcloud {
    color: $fa-soundcloud; border-color: $fa-soundcloud;
  }
  &.fa-spotify {
    color: $fa-spotify; border-color: $fa-spotify;
  }
  &.fa-stack-exchange {
    color: $fa-stack-exchange; border-color: $fa-stack-exchange;
  }
  &.fa-stack-overflow {
    color: $fa-stack-overflow; border-color: $fa-stack-overflow;
  }
  &.fa-steam {
    color: $fa-steam; border-color: $fa-steam;
  }
  &.fa-steam-square {
    color: $fa-steam-square; border-color: $fa-steam-square;
  }
  &.fa-stumbleupon {
    color: $fa-stumbleupon; border-color: $fa-stumbleupon;
  }
  &.fa-stumbleupon-circle {
    color: $fa-stumbleupon-circle; border-color: $fa-stumbleupon-circle;
  }
  &.fa-tencent-weibo {
    color: $fa-tencent-weibo; border-color: $fa-tencent-weibo;
  }
  &.fa-trello {
    color: $fa-trello; border-color: $fa-trello;
  }
  &.fa-tumblr {
    color: $fa-tumblr; border-color: $fa-tumblr;
  }
  &.fa-tumblr-square {
    color: $fa-tumblr-square; border-color: $fa-tumblr-square;
  }
  &.fa-twitch {
    color: $fa-twitch; border-color: $fa-twitch;
  }
  &.fa-twitter {
    color: $fa-twitter; border-color: $fa-twitter;
  }
  &.fa-twitter-square {
    color: $fa-twitter-square; border-color: $fa-twitter-square;
  }
  &.fa-vimeo-square {
    color: $fa-vimeo-square; border-color: $fa-vimeo-square;
  }
  &.fa-vine {
    color: $fa-vine; border-color: $fa-vine;
  }
  &.fa-vk {
    color: $fa-vk; border-color: $fa-vk;
  }
  &.fa-wechat {
    color: $fa-wechat; border-color: $fa-wechat;
  }
  &.fa-weibo {
    color: $fa-weibo; border-color: $fa-weibo;
  }
  &.fa-weixin {
    color: $fa-weixin; border-color: $fa-weixin;
  }
  &.fa-windows {
    color: $fa-windows; border-color: $fa-windows;
  }
  &.fa-wordpress {
    color: $fa-wordpress; border-color: $fa-wordpress;
  }
  &.fa-xing {
    color: $fa-xing; border-color: $fa-xing;
  }
  &.fa-xing-square {
    color: $fa-xing-square; border-color: $fa-xing-square;
  }
  &.fa-yahoo {
    color: $fa-yahoo; border-color: $fa-yahoo;
  }
  &.fa-yelp {
    color: $fa-yelp; border-color: $fa-yelp;
  }
  &.fa-youtube {
    color: $fa-youtube; border-color: $fa-youtube;
  }
  &.fa-youtube-play {
    color: $fa-youtube-play; border-color: $fa-youtube-play;
  }
  &.fa-youtube-square {
    color: $fa-youtube-square; border-color: $fa-youtube-square;
  }

  &.stbe-util--icon-border {
    background: transparent;color:#444;
  }
}
