<link href="../../carbide_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-md-4">
    <div class="glazed-util-background-primary az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon glazed-util-color-accent2 fa-4x fa fa-heart">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains. <a href="#" class="glazed-util-color-white">Read more</a>
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon glazed-util-color-primary fa-4x fa fa-heart">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-primary stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="stbe-iconbox__content az-editable">
        Far far away, behind the mountains. <a href="#">Read more</a>
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="glazed-util-background-accent2 az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon glazed-util-color-primary fa-4x fa fa-heart">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains. <a href="#">Read more</a>
      </div>
    </div>
  </div>
</div>