<link href="../../carbide_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-md-4">
    <div class="az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#008eb0;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #005c79;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#00bac1;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #439e5a;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>

  <div class=" col-md-4">
    <div class="az-editable stbe-iconbox--4x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded" style="background-color:#cefff9;">
      <div class="stbe-iconbox__heading">
        <i class="stbe-iconbox__span-icon fa-4x fa fa-heart" style="color: #008eb0;">
          <span class="element-invisible">&nbsp;</span>
        </i>

        <h2 class="glazed-util-color-white stbe-iconbox__title" style="color:#005c79;">Icon Boxed</h2>
      </div>

      <div class="glazed-util-color-white stbe-iconbox__content az-editable" style="color:#005c79;">
        Far far away, behind the mountains.
      </div>
    </div>
  </div>
</div>