@media screen and (min-width: 1200px) {
  // Glazed Top Header
  .glazed-header--top {
    width: 100%;
    &.glazed-header--fixed {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
    }
    &.affix {
      border-bottom: 1px solid rgba(0,0,0,0.04);
    }
    &.glazed-header--overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      &.glazed-header--fixed {
        position: fixed;
      }
      &.affix {
        top: 0;
      }
    }
    &.affix {
      opacity: 1;
      position: fixed;
      &#navbar {
        background-color: $header-color;
        color: $header-text-color;
        a {
          color: $header-text-color;
          &:hover,
          &:focus {
            color: $header-text-color;
          }
        }
      }
      .menu li > a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .navbar-header {
        padding-top: 0;
        padding-bottom: 0;
      }
      .navbar-brand {
        font-size: $font-size-large;
      }
    }
    .navbar-header {
      float: left;
      display: table;
      position: relative;
      z-index: 5;
    }
    .wrap-branding {
      display: table;
      height: 100px;
      .logo,
      .navbar-brand {
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
        img {
          display: inline;
        }
      }
    }
    .navbar-collapse {
      display: inline-block;
    }
    &.glazed-header--logo-center-menu-left,
    &.glazed-header--logo-center-menu-right {
      .navbar-header {
        position: absolute;
        left: 50%;
      }
      .wrap-branding {
        margin-left: -50%;
        .logo {
          padding-right: 0;
        }
      }
    }
    &.glazed-header--logo-left-menu-left,
    &.glazed-header--logo-center-menu-left {
      .menu {
        float: left;
      }
    }
    &.glazed-header--logo-right-menu-left {
      .menu {
        float: left;
      }
      .navbar-header,
      .wrap-branding {
        float: right;
      }
    }
    &.glazed-header--centered {
      text-align: center;
      .navbar-brand {
        margin: 0 auto;
        text-align: center;
        clear: both;
      }
      .navbar-header,
      .block {
        margin: 0 auto;
        text-align:center;
        float: none;
        clear: both;
        display: inline-block;
      }
    }
    .menu {
      float: right;
      .navbar-nav > li > a {
        font-size: $font-size-large;
      }
      > li {
        display: table;
        height: 100%;
      }
      > li > a {
        display: table-cell;
        vertical-align: middle;
        height: 100px;
        padding-top: 0;
        padding-bottom: 0;
      }
      .dropdown-menu li > a {
        padding: 10px 20px;
      }
    }
    // TB Mega Menu
    .nav-child-fixed-width {
      left: 0;
      right: 0;
      position: absolute;
      top: 100px;
    }
  }
}