
  // Glazed Header Defaults across all layouts
.glazed-header {
  z-index: 1000;
  border: none;
  border-radius: 0;
  min-height: 0;
  .caret {
    display: none;
  }
  @media screen and (max-width: 1200px) {
    position: static;
    li {
      clear: both;
    }
  }
  @include transition-property(opacity, background-color);
  @include transition-duration(600ms);
  .navbar-container {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }
  &#navbar {
    background: $header-color;
    color: $header-text-color;
    a {
      color: $header-text-color;
      background: transparent;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $header-text-color;
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
  .navbar-header {
    .navbar-brand {
      font-size: $font-size-h3;
      height: auto;
      letter-spacing: 1px;
      padding: 0;
      float: none;
    }
  }
  .menu {
    h1, h2, h3, h4, h5 h6 {
      opacity: 0.75;
    }
  }
  .active > a {
    color: $primary;
  }
  .dropdown-menu {
    background: $header-color;
    @media screen and (max-width: 1200px) {
      position: static;
      display: block;
      @include box-shadow(none);
      border: none;
    }
    ul { padding-left: 0; }
    li {
      list-style: none;
      list-style-type: none;
      a {
        font-size: $font-size-small;
        display: block;
        background: transparent;
      }
    }
  }
  .row,
  .block {
    margin-bottom: 0;
  }
  .mega-dropdown-menu {
    padding-top: 15px;
    .block {
      padding-left: 20px;
      padding-right: 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .tb-megamenu-column {
    @media screen and (min-width: 1200px) {
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        border-left: none;
      }
    }
  }
  .nav-child-fixed-width {
    width: 100%!important;
  }
  &.affix .nav-child-fixed-width {
    top: 60px;
  }
}

body.body--glazed-header-fixed.body--glazed-header-not-overlay {
  padding-top: 100px;
}

// Toolbar fixes
@media screen and (min-width: 1200px) {
  html.js body.admin-menu {
    margin-top: 0!important;
    padding-top: 20px!important;
  }
  html.js body.admin-menu-toolbar {
    margin-top: 0!important;
    padding-top: 28px!important;
  }
  html.js body.admin-menu .glazed-header--top.glazed-header--overlay {
    top: 50px!important;
  }
  html.js body.admin-menu-toolbar .glazed-header--top.glazed-header--overlay {
    top: 58px!important;
  }
  html.js body.toolbar .glazed-header--top.glazed-header--overlay {
    top: 60px!important;
  }
  html.js body.toolbar-drawer .glazed-header--top.glazed-header--overlay {
    top: 94px!important;
  }

  html.js body.admin-menu .glazed-header--top.glazed-header--fixed,
  html.js body.admin-menu .glazed-header--top.affix {
    top: 20px!important;
  }
  html.js body.admin-menu-toolbar .glazed-header--top.glazed-header--fixed,
  html.js body.admin-menu-toolbar .glazed-header--top.affix {
    top: 28px!important;
  }
  html.js body.toolbar .glazed-header--top.glazed-header--fixed,
  html.js body.toolbar .glazed-header--top.affix {
    top: 30px!important;
  }
  html.js body.toolbar-drawer .glazed-header--top.glazed-header--fixed,
  html.js body.toolbar-drawer .glazed-header--top.affix {
    top: 64px!important;
  }

  html.js body.admin-menu.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 120px!important;
  }
  html.js body.admin-menu-toolbar.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 128px!important;
  }
  html.js body.toolbar.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 130px!important;
  }
  html.js body.toolbar-drawer.body--lazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 164px!important;
  }
}