// Glazed Side Header
@media screen and (min-width: 1200px) {
  .body--glazed-header-side {
    padding-left: 200px;
    text-align: left;
    &.body--glazed-header-side-overlay {
      padding-left: 0;
    }
    @media screen and (max-width: 1800px) {
      .container {
        max-width: 1570px;
      }
    }
    @media screen and (max-width: 1460px) {
      .container {
        max-width: 1230px;
      }
    }
    .glazed-header--side {
      position: fixed;
      left: 0;
      top: 0;
      width: 200px;
      height: 100%;
      padding: 70px 30px 30px 30px;
      &#navbar {
        background-color: $header-side-color;
        color: $header-side-text-color;
        a {
          color: $header-side-text-color;
          &:hover,
          &:focus {
            color: $header-side-text-color;
          }
        }
      }
      &.glazed-header--overlay {
        opacity: 0.9;
      }
      .navbar-container {
        padding: 0;
      }
      .navbar-header {
      float: none;
        .logo,
        .navbar-brand {
          display: block;
          padding: 0 0 30px 0;
          margin: 0;
        }
      }
      .navbar-nav {
        float: none;
      }
      .navbar-collapse {
        padding: 70px 0 0 0;
      }
      .menu {
        li {
          display: block;
          float: none;
          a {
            padding-left: 0;
            padding-right: 0;
            font-size: $font-size-large;
            background: transparent;
            .caret {
              float: right;
              border: none;
              &:after {
                content: ' +';
              }
            }
            &:hover,
            &:focus {
              background: transparent;
              .caret:after {
                content: '-';
              }
            }
          }
        }
        .dropdown-menu {
          @include box-shadow(none);
          position: static;
          float:none;
          min-width: 0;
          width: auto;
          border: none;
          max-height: 0;
          overflow: hidden;
          text-align: inherit;
          @include transition(max-height 0.5s ease-out);
          background: transparent;
          height: auto;
          display: block;
          a {
            font-weight: normal;
            font-size: $font-size-base;
            padding-top: 3px;
            padding-bottom: 3px;
          }
        }
        .open > .dropdown-menu {
          max-height: 2096px;
          @include transition(max-height 0.5s ease-in);
        }
      }
      // TB Mega Menu
      .tb-megamenu-column {
        width: 100%!important;
      }
      .mega-dropdown-menu {
        padding: 0;
      }
    }
  }
}

.body--glazed-header-side {
}