// Glazed Header Mobile layout
@media (max-width: 1200px) {
  body.body--glazed-header-fixed.body--glazed-header-not-overlay {
    padding-top: 0;
  }

  .page-title-full-width-container {
    padding-top: 0;
  }

  .glazed-header {
    position: static;
    &#navbar {
      background-color: $header-color;
      color: $header-text-color;
      a {
        color: $header-text-color;
        &:hover,
        &:focus {
          color: $header-text-color;
        }
      }
    }
    li {
      clear: both;
    }
    .navbar-header {
      float: none;
      .wrap-branding {
        display: table;
        float:left;
        height: 60px;
        .logo,
        .navbar-brand {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .wrap-button {
      display: table;
      float: right;
    }
    .navbar-toggle {
        display: table-cell;
        vertical-align: middle;
        border-radius: 0;
        background: $header-color;
        border: none;
        height: 60px;
        margin:0;
        .icon-bar {
          width: 28px;
          height: 3px;
          background: $primary;
          margin-left: auto;
        }
    }
    .navbar-collapse {
        border-top: none;
        clear: both;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in {
      display: block !important;
    }
    .dropdown-menu {
      a {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}