@charset "UTF-8";

// This file exists in both the carbide_builder module and glazed_theme so that
// button style are available to people who use either component independently.

@import "compass/css3";

body {
  .stpe-outlinebutton {
    display: inline-block;
    background: transparent;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    &:hover,
    &:focus {
      @include box-shadow(none);
      font-weight: normal;
      background: #333;
      border: 1px solid #333;
      color: #fff;
    }
  }
  .stpe-borderbutton {
    display: inline-block;
    background: transparent;
    border: 3px solid #333;
    color: #333;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    &:hover,
    &:focus {
      @include box-shadow(none);
      font-weight: normal;
      background: #333;
      border: 3px solid #333;
      color: #fff;
    }
  }
}