.links.operations{text-transform:lowercase;}#line-item-manager caption{font-size:100%;font-weight:bold;padding-bottom:5px;text-align:left;text-transform:uppercase;}.add-line-item .form-type-select{float:left;padding:3px 10px 0 0;}#line-item-manager .form-submit{float:left;}#line-item-manager .ajax-progress .message{display:none;}
div.addressfield-container-inline > div.form-item{float:left;margin-right:1em;}div.addressfield-container-inline.country-GB > div.form-item{float:none;margin-right:auto;}div.addressfield-container-inline:after{content:".";display:block;height:0;clear:both;visibility:hidden;}* html div.addressfield-container-inline{height:1%;}*:first-child + html div.addressfield-container-inline{min-height:1%;}
