#panes td.page{font-weight:bold;}#panes tr.page-header{vertical-align:bottom;font-weight:bold;background-color:#FFF;}#panes tr.page-message{font-weight:normal;font-style:italic;color:#999;}#panes tr.page-populated{display:none;}
