.views-field-operations .links.operations{text-transform:lowercase;margin-left:0;}#commerce-order-ui-redirect-form .form-item{float:left;margin:0 2em 0 0;}#commerce-order-ui-redirect-form .form-submit{margin-top:1.8em;}
