.field-type-commerce-price .form-item{float:left;margin-right:1em;}.commerce-price-tax-included-clearfix{clear:left;}
.commerce-price-full .form-item{display:inline;margin-right:1em;}#edit-parameter-value .commerce-price-full{margin:1em 0;}.commerce-price-formatted-components .component-total{text-align:right;}
