.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#ffffdd none repeat scroll 0 0;border:1px solid #f0c020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}
.ds-2col-stacked-fluid > .group-header{}.ds-2col-stacked-fluid > .group-left{float:left;width:50%;}.ds-2col-stacked-fluid > .group-right{float:right;width:50%;}.ds-2col-stacked-fluid.group-one-column > .group-left,.ds-2col-stacked-fluid.group-one-column > .group-right{width:100%;float:none;}.ds-2col-stacked-fluid > .group-footer{clear:both;}
