<link href="../../carbide_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div  class="az-editable stbe-iconbox--2x-icon stbe-iconbox stbe-iconbox--icon-adjacent stbe-iconbox--iconpadded">
    <div class="stbe-iconbox__heading">
        <div class="stbe-iconbox__span-icon"><i class="fa fa-heart stbe-util-icon-circle stbe-util-icon-border fa-2x"><span class="element-invisible">&nbsp;</span></i>
        </div>
        <h2 class="stbe-iconbox__title">Glazed</h2>
    </div>
    <div class="stbe-iconbox__content az-editable">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </div>
</div>