<link href="../../carbide_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconbox.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">

<div  class="az-editable stbe-iconbox--5x-icon stbe-iconbox stbe-iconbox--icon-boxed stbe-iconbox--rounded">
    <div class="stbe-iconbox__heading">
        <div class="stbe-iconbox__span-icon"><i class="fa fa-heart fa-5x"><span class="element-invisible">&nbsp;</span></i>
        </div>
        <h2 class="stbe-iconbox__title">Icon Boxed</h2>
    </div>
    <div class="stbe-iconbox__content az-editable">Far far away, behind the mountains. <a href="#">Read more</a>
    </div>
</div>