/*
Contains overrides of the default theme
*/
.region-footer-second h2{
    font-size: 22px !important;
    font-weight: normal !important;
}
.region-footer-third h2{
    font-size: 22px !important;
    font-weight: normal !important;
}
section, footer {
    padding-bottom: 5.125em !important;
    padding-top: 3.5em !important;
}
#jGrowl .jGrowl-notification .jGrowl-close{
    display:none;
}
#jGrowl .jGrowl-notification .jGrowl-message {
    padding-right: 34px;
    word-wrap: break-word;
    color: #fff;
    font-size: 14px;
}
.frontbutton {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px 15px 30px !important;
}
.frontbutton2{
    padding: 0px 30px 25px 30px !important;
    text-decoration: none;
}
.btn {
    border-radius: 0px !important;
}
#pricingfront{
    padding: 0px 30px 22px 30px !important;
    color: #fff;
    text-decoration: none;
}
.h1pricing {
    font-size: 2em;
    line-height: 1.01563em;
    color: #B04145;
    font-weight: bold;
}