//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

.form-text,
.form-file,
.form-textarea,
input[type=text],
input[type=file],
input[type=text],
textarea {
  @include box-shadow(3px 3px 7px rgba(0, 0, 0, 0.1) inset);
  border-radius: 0;
  background: $gray-lighter;
  padding: 12px;
  height: auto;
}

.cke_editable_themed {
  padding: 5px;
}
