// PAGE TITLE
.page-title-full-width-container {
  background: $page-title-color;
  &#page-title-full-width-container {
    color: $page-title-text-color;
    li, a, h1, h2, h3, h4, h5, h6 {
      color: $page-title-text-color;
    }
  }
  margin-bottom: 30px;
  position: relative;
  &:after {
    content: ' ';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

#page-title {
  display: table;
  .page-title {
    border: none;
    display: table-cell;
    height: 120px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .body--glazed-header-overlay .page-title-full-width-container {
    padding-top: 130px;
  }
}
