//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//


body, html {
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}
.block-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $font-size-h3;
}

.nav-tabs > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3.field-label {
  font-size: $font-size-h4;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  color: $primary;
}

a {
  @include transition-property(color, background-color, border-color, opacity);
  @include transition-duration(200ms);
}

a:hover, a:focus {
  text-decoration: underline;
  color: $accent1;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, th, .nav-tabs > li > a {
  color: $text-headings;
  a {
    color: $text-headings;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary;
    }
  }
}

.block-revslider img { /* This selector specifity should keep images in check but allow special circumstances like revolution slider image effects */
  max-width: 100%;
}

hr {
  height: 3px;
  background: #eeeeee;
  margin-bottom: 50px;
  margin-top: 50px;
}

span.field-label,
div.field-label {
  font-weight: bold;
}

.submitted {
  color: $gray-light;
  a {
    color: $gray-light;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.main-container .block-menu-block .nav {
    padding: 0;
    margin: 0;
  > li {
    padding: 0;
    margin: 0;
    > a {
      padding:0;
      margin: 10px 0 10px 0;
      background: transparent;
      color: $gray-light;
      font-size: $font-size-large;
      &:hover,
      &:focus,
      &.active {
        background: transparent;
        color: $primary;
      }
    }
  }
}

.region-sidebar-first,
.region-sidebar-second {
  color: $gray-light;
  a {
    color: $text;
  }
}
