//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Fixing weird stuff in the bootstrap basetheme
// @see https://www.drupal.org/node/2559219
// @see https://www.drupal.org/node/2414935

.block:first-child h2.block-title {
    margin-top: 10px;
}
.region-sidebar-second .block:first-child h2.block-title,
.region-sidebar-first .block:first-child h2.block-title {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1170px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  margin-bottom: 0;
  // Prevent horizontal scrolling on small devices
  // Also important for SEO, needed for mobile-friendly test
  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
}

.column {
  margin-bottom: 30px;
}

// Bootstrap long dropdown multi-column helper
// @see glazed.js
.dropdown-menu {
  min-width: 160px;
  li {
    float: left;
    min-width: 160px;
    display: block;
  }
}

// 3d effect
.btn {
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.12);
  border-left: 3px solid rgba(0,0,0,0.08);
  border-radius: 4px;
}

.btn-sm {
  border-bottom-width: 4px;
}

$btn-primary-color: $white-broken;
$btn-primary-hover-color: $accent1;
$btn-primary-bg: $primary;
$btn-primary-border: $primary;

.btn-default {
  background: #fcfcfc;
}

.btn-primary {
  background: $primary;
  &:hover,
  &:focus {
    background-color: $accent1;
    border-bottom-color: rgba(0,0,0,0.6);
  }
}

.block .nav > li > a .glyphicon {
  margin-left: -13px;
  display: inline-block;
  font-size: $font-size-small;
  padding-right: 4px;
}

.well, .jumbotron {
  background-color: $well;
  color: $well-text;
  border: none;
  border-radius: 0;
  @include box-shadow(none);
  a {
    color: $well-text;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $well-text;
  }
  p {
    font-size: $font-size-base;
  }
  .nav > li > a {
    .glyphicon {
      color: $accent1;
    }
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a.active {
    color: $white-broken;
    background: $primary;
    .glyphicon {
      color: $white-broken;
    }
  }
}

blockquote {
  border-color: $white-broken;
}

// Panel theming is limited to .content because it's also use a lot in admin forms
.content .panel {
  line-height: 2em;
  background: #000;
  background: rgba(0,0,0,0.6);
  border-radius: 0;
  color: $white-broken;
  padding:30px;
  border: none;
  h1, h2, h3, h4, h5, h6 {
    color: $white-broken;
  }
}

.content .panel-group .panel {
  background: transparent;
  padding: 0;
  color: inherit;
  @include box-shadow(none);
  .panel-heading {
    background: transparent;
    border:none;
    padding-left:0;
    padding-right:0;
    .panel-title:before {
      content: '+';
      display: inline;
      padding-right:1em;
    }
  }
  .panel-body {
    border: none;
    padding-left:0;
    padding-right:0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $text;
  }
}

.img-circle, .img-rounded, .img-thumbnail {
  border: 3px solid $gray-lighter;
}

.center-block {
  float: none!important;
}

// Disabling the background on Modal Windows
// Backdrops only work well when modal content is attached to the end of the page
// In practice carbide composer and custo html snippets will add modals to the body
// which has a lower z-index so the modal can appear behind the backdrop.
.modal-backdrop {
  z-index: -1!important;
  width:1px!important;
  height:1px!important;
}

.modal {
  .modal-dialog {
    margin-top:80px;
    color: $text; // White background is defined but text color is not, this prevents
                  // white text when modal is added within a dark section
    h1,h2,h3,h4,h5,h6 {
      color: $text;
    }
    ul {
      padding-left: 10px;
      // li {
      //   padding-bottom: 5px;
      // }
    }
  }
  &:before {
    content: ' ';
    z-index: 1610;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: #000000;
    opacity: 0.5;
  }
}

// Tabs
// -------------------------

// Give the tabs something to sit on
.html .main-container .nav-tabs {
  border-bottom: 1px solid $gray-lighter;
  > li {
    > a {
      border: 1px solid transparent;
      border-radius: 0;
      padding: 10px 15px;
      background-color: transparent;
      &:hover {
        color: $gray-lighter;
      }
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $primary;
        background-color: transparent;
        border: 1px solid $gray-lighter;
        border-bottom-color: #ffffff;
        cursor: default;
        outline: none;
      }
    }
  }
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Progress Bar
// -------------------------

.progress {
  border-radius: 0;
  height: 3px;
  margin-top: 2px;
  overflow: visible;
  @include box-shadow(none);
}

.progress-bar {
  background-color: $primary;
  line-height: 4px;
  @include box-shadow(none);
}
