//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

.glazed-portfolio-title {
  color: $white-broken;
  a {
    color: $white-broken;
  }
}

.cms-portfolio-excerpt {
  .field-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .title {
    background: $white-broken;
    font-size: $font-size-h4;
    margin: 0;
    padding-bottom: 0;
  }
  p.field-content {
    background: $white-broken;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .cbp-caption {
    margin-bottom: 0;
  }
}

.view-glazed-premium-portfolio p.field-content {
  margin-bottom: 0;
}

.view-cms-portfolio {
  .col-lg-2 {
    .title {
      font-size: $font-size-h4;
    }
  }
}

.cbp-popup-content {
  .field-portfolio-images {
    img {
      width:65%;
      float:left;
    }
    .image-field-caption {
      width: 33%;
      float:right;
    }
  }
}

.group-portfolio-extra {
  border-top: 3px solid $white-broken;
  margin-top: 30px;
  .field-label {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.html .main-container .cbp-filter-item-active,
.html .main-container .cbp-filter-item:hover {
  color: $primary !important;
}

.html .main-container .cbp-l-filters-button .cbp-filter-item-active,
.html .main-container .cbp-l-filters-button .cbp-filter-item:hover {
  color: #ffffff !important;
 }
