<link href="../../css/elements/pricelisting.css" rel="stylesheet" type="text/css">

<div class="stpe-pricelisting clearfix">
  <div class="stpe-pricelisting__heading az-styleable clearfix glazed-util-background-body">
    <div class="stpe-pricelisting__title az-editable glazed-util-background-body">
      <h4>Lorem Ipsum Dolor</h4>
    </div>
    <div class="stpe-pricelisting__price az-editable glazed-util-background-body">
      <h4>$19.95</h4>
    </div>
  </div>
  <div class="stpe-pricelisting__description az-editable glazed-util-background-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
  </div>
</div>