<link href="../../css/elements/imagebox.css" rel="stylesheet" type="text/css">
<script src="../../carbide_builder/vendor/WOW/dist/wow.min.js"></script>
<script src="../../carbide_builder/js/carbide.wow.js"></script>

<div class="stpe-imagebox">
  <figure class="stpe-imagebox__figure stpe-imagebox__figure--yoruba wow">
    <img class="stpe-imagebox__image" src="http://i.imgur.com/jmPC7Xe.jpg">

    <figcaption class="stpe-imagebox__fig-caption">
      <h2 class="stpe-imagebox__title">Yoruba Animation</h2>

      <div class="stpe-imagebox__fig-content">
        <p class="az-editable">This is a sub-title.</p>
        <a class="btn stpe-borderbutton glazed-util-border-primary glazed-util-color-primary glazed-util-hover-color-white glazed-util-hover-border-primary glazed-util-hover-background-primary" href="http://sooperthemes.com/">Buy Theme!</a>
      </div>
    </figcaption>
  </figure>
</div>