<div class="stpe-iconwell well well-lg az-editable glazed-util-background-primary">
<i class="fa fa-heart-o glazed-util-color-accent1 stpe-iconwell__icon">
  <span class="element-invisible">&nbsp;</span>
</i>
  <h2 class="stpe-iconwell__title glazed-util-color-white">Buy Now</h2>
  <div class="az-editable stpe-iconwell__content glazed-util-color-white">
    <ul>
      <li>Best Design</li>
      <li>Best Code</li>
      <li>Most Demos</li>
      <li>Most Elements</li>
      <li>Best Drag &amp; Drop</li>
      <li>Best Support</li>
    </ul>
  </div>
</div>