<link href="../../carbide_builder/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/et-line-font/et-line-font.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/vendor/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css">
<link href="../../css/elements/iconwell.css" rel="stylesheet" type="text/css">

<div class="well stpe-iconwell well-lg az-editable" style="background-color: #333;"><i style="color: #999999; opacity: 0.75;" class="stpe-iconwell__icon fa fa-heart-o"> <span class="element-invisible"> </span> </i>
<h2 class="stpe-iconwell__title"><span style="color: #999999;">Buy Now</span></h2>
<div class="glazed-util-color-gray az-editable stpe-iconwell__content"><ol>
<li><span style="color: #999999;">Best Design</span></li>
<li><span style="color: #999999;">Best Code</span></li>
<li><span style="color: #999999;">Most Demos</span></li>
<li><span style="color: #999999;">Most Elements</span></li>
<li><span style="color: #999999;">Best Drag &amp; Drop</span></li>
<li><span style="color: #999999;">Best Support</span></li>
</ol></div></div>