<link href="../../css/elements/teambox.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/icon-helpers.css" rel="stylesheet" type="text/css">
<link href="../../carbide_builder/css/social.css" rel="stylesheet" type="text/css">

<div class="stpe-teambox stpe-teambox--split clearfix">
  <img alt="" class="img-responsive" src="img/portrait-14-518.jpg">

  <div class="stpe-teambox__member-info">
    <div class="stpe-teambox__member-social">
      <ul class="stbe-social-links stbe-social-links--inline">
        <li class="stbe-social-links__item" title="twitter">
          <a class="fa fa-twitter stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
        </li>

        <li class="stbe-social-links__item" title="linkedin">
          <a class="fa fa-linkedin stbe-util-icon-pulse stbe-util-icon-circle stbe-util-icon-fx stbe-util-fx-pulse" href="http://sooperthemes.com/pricing"></a>
        </li>
      </ul>
    </div>

    <div class="stpe-teambox__member-name-role">
      <h3 class="stpe-teambox__member-name">Paul Johnson</h3>

      <h4 class="stpe-teambox__member-role">CEO</h4>
    </div>
  </div>
</div>